<div class="radio {{if (gt @index 1) "no-top-margin"}} @type">
  {{#if (not @disabled)}}
    <input
      id={{@type}}
      type="radio"
      checked={{eq @checkedProperty @type}}
      onclick={{action @setPropMethod @type}}>
  {{else}}
    <input
      id={{@type}}
      type="radio"
      checked={{eq @checkedProperty @type}}
      onclick={{action @setPropMethod @type}}
      disabled=@disabled>
  {{/if}}
  <label for={{@type}} class="radio--label">{{t (concat "labels." (lowercase @type))}}</label>
</div>