<div class="add-beds">
  <h1>Add beds</h1>
  <p>to ward: {{this.model.name}}</p>

  <label for="add-beds" class="form_label">
    Number of beds
  </label>
  <Input @id="add-beds"
         @type="number"
         @name="add-beds"
         @class="form_input"
         min="0"
         @key-up={{fn makeNumberPositive}}
         @value={{this.noOfBedsToAdd}} />
  <div class="help-text">The number of beds to add to this ward</div>

  <div class="btns-container">
    <button
      type="button"
      class="form_btn cancel"
      {{on "click" this.cancel}}>
      Cancel
    </button>

    <button 
      class="form_btn"
      {{on "click" this.addBeds}} 
      disabled={{this.addButtonDisabled}}>
      Add beds
    </button>
  </div>

  {{#if this.error}}
    <div class="banner banner--error">
      <div class="banner_title"><img src="/assets/images/error.svg" alt="">Something went wrong</div>
      <p>Please try adding the beds again</p>
      <img src="/assets/images/close.svg" alt="close" class="banner_close" {{on "click" (fn (mut this.error) false)}}>
    </div>
  {{/if}}
</div>