<div class="add-beds">
  <h1>Add beds</h1>
  <p>to ward: {{this.model.name}}</p>

  <label for="add-beds" class="form_label">
    Number of beds
  </label>
  <Input @id="add-beds"
         @type="number"
         @name="add-beds"
         @class="form_input"
         min="0"
         @key-up={{fn this.makeNumberPositive}}
         @value={{this.noOfBedsToAdd}} />
  <div class="help-text">The number of beds to add to this ward</div>

  <label for="prefix" class="form_label">
    Prefix (optional)
  </label>
  <Input @id="prefix"
         @name="prefix"
         @class="form_input"
         @value={{this.prefix}} />
  <div class="help-text">Prefix to add to the bed reference e.g. ICU</div>

  <label for="start-from" class="form_label">
    Start numbering from:
  </label>
  <Input @id="start-from"
         @type="number"
         @name="start-from"
         @class="form_input"
         min={{1}}
         @key-up={{fn this.makeStartFromPositive}}
         @value={{this.startFrom}} />

  <div class="results {{if this.hideResults "results--hidden"}}">
    <span>The following beds will be created:</span>
    <div class="results_range">{{this.resultsRange}}</div>
  </div>

  <div class="btns-container">
    <button
      type="button"
      class="form_btn cancel"
      {{on "click" this.cancel}}>
      Cancel
    </button>

    <button
      class="form_btn"
      {{on "click" this.addBeds}}
      disabled={{this.addButtonDisabled}}>
      Add beds
    </button>
  </div>

  {{#if this.error}}
    <div class="banner banner--error">
      <div class="banner_title"><img src="/assets/images/error.svg" alt="">Something went wrong</div>
      <p>Please try adding the beds again</p>
      <img src="/assets/images/close.svg" alt="close" class="banner_close" {{on "click" (fn (mut this.error) false)}} role="button">
    </div>
  {{/if}}
</div>