<div class="edit-ward">
  <h1>Edit ward</h1>

  <label for="ward-name" class="form_label">
    Ward name
  </label>
  <Input @id="ward-name"
         @name="ward-name"
         @class="form_input"
         @value={{this.name}}
         @key-up={{action (mut this.name) value=@target.value}} />
  <div class="help-text">Enter the ward name or abbreviation</div>

  <label for="ward-description" class="form_label">
    Ward description<span>~ optional</span>
  </label>
  <Input @id="ward-description"
         @name="ward-description"
         @class="form_input form_description-input"
         @value={{this.description}}
         @key-up={{action (mut this.description) value=@target.value}} />
  <div class="help-text">Add a ward description</div>

  <div class="form_checkbox--container">
    <input
      id="covidWard"
      type="checkbox"
      class="form_checkbox edit"
      checked={{this.isCovidWard}}
      onclick={{action "toggleIsCovidWard"}}>
    <label for="covidWard" class="form_checkbox--label">
      <div class="form_checkbox--text">COVID ward</div>
      <div class="form_checkbox--text small">This ward will be used for COVID patients</div>
    </label>
  </div>

  <div class="btns-container">
    <LinkTo @route="ward" @model={{this.model}} @tagName="button" class="form_btn cancel">Cancel</LinkTo>

    <button
      class="form_btn"
      {{on "click" this.saveWard}}
      disabled={{this.saveButtonDisabled}}>
      Edit ward
    </button>
  </div>

  <div class="edit-ward_delete" role="button" {{on "click" (toggle "showDeleteWardModal" this)}}>
    <img src="/assets/images/delete.svg" alt="delete">
    <span>Remove this ward</span>
  </div>

  {{#if this.error}}
    <div class="banner banner--error">
      <div class="banner_title"><img src="/assets/images/error.svg" alt="">Something went wrong</div>
      <p>Please try saving again.</p>
      <img src="/assets/images/close.svg" alt="close" class="banner_close" {{on "click" (fn (mut this.error) false)}}>
    </div>
  {{/if}}
</div>

{{#if this.showDeleteWardModal}}
  <ModalDialog @onClose={{this.closeModal}} @targetAttachment="center" @attachment="middle" @hasOverlay={{true}} @containerClass="edit-ward_modal">
    <div class="modal_header">
      <img src="/assets/images/delete.svg" alt="">
      <h1>Delete ward {{this.name}}</h1>
      <img src="/assets/images/cross.svg" alt="" role="button" {{on "click" this.closeModal}}>
    </div>

    <div class="modal_body">
      <p>Are you sure you want to delete this ward from the hospital?</p>
      <p class="warning">Once deleted this cannot be undone and all bed data will be lost.</p>
    </div>

    <div class="modal_controls">
      <button class="button--secondary" {{on "click" this.closeModal}}>Cancel</button>
      <button {{on "click" this.deleteWard}}>Delete</button>
    </div>

  </ModalDialog>
{{/if}}