<div class="ward-details">
  {{#if this.model.showSuccessMessage}}
    <div class="banner banner--success">
      <div class="banner_title"><img src="/assets/images/success.svg" alt="">{{t (concat "message.success." this.model.showSuccessMessage.type ".title")}}</div>
      <p>{{t (concat "message.success." this.model.showSuccessMessage.type ".body")}}</p>
      <img src="/assets/images/close.svg" alt="close" class="banner_close"  role="button" {{on "click" (fn (mut this.model.showSuccessMessage) null)}}>
    </div>
  {{/if}}

  <div class="breadcrumbs">
    <LinkTo @route="dashboard" @tagName="span">
      <img src="/assets/images/hospital.svg" alt="">
      <div class="text">Dashboard</div>
    </LinkTo> > Ward {{this.model.name}}
  </div>
  <div class="ward-details_names">
    <div>
      <h1>{{this.model.name}}</h1>
      <p>{{this.model.description}}</p>
    </div>
    <LinkTo @route="ward.edit" @model={{this.model}}>Edit</LinkTo>
  </div>

  <div class="cards-container--wards">
    <div class="card">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/occupied.svg" alt="">
        <div class="card_header-text">WARD TOTAL BEDS  {{this.model.totalBeds}}</div>
      </div>

      <div class="card_data-block ward-dashboard">
        <div class="card_data-block--value">{{this.model.availableBeds}}</div>
        <div class="card_data-block--label">Total available beds</div>
      </div>

      <div class="card_data-block ward-dashboard">
        <div class="card_data-block--value">{{this.availableBedsPercentage}}%</div>
        <div class="card_data-block--label">Total available bed capacity</div>
      </div>

      <div class="card_data-block ward-dashboard">
        <div class="card_data-block--value">{{this.model.totalVentilatorInUse}}</div>
        <div class="card_data-block--label">Total ventilators in use</div>
      </div>
    </div>

    <div class="card">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/covid-19-positive.svg" alt="">
        <div class="card_header-text">TOTAL COVID PATIENT STATS</div>
      </div>

      <div class="card_data-block ward-dashboard">
        <div class="card_data-block--value">{{this.model.totalCovidStatusPositive}}</div>
        <div class="card_data-block--label">Total COVID positive</div>
      </div>

      <div class="card_data-block ward-dashboard">
        <div class="card_data-block--value">{{this.model.totalCovidStatusNegative}}</div>
        <div class="card_data-block--label">Total COVID negative</div>
      </div>

      <div class="card_data-block ward-dashboard">
        <div class="card_data-block--value">{{this.model.totalCovidStatusSuspected}}</div>
        <div class="card_data-block--label">Total COVID suspected</div>
      </div>
    </div>
  </div>
</div>

<div class="ward-beds-top-bar">
  <div class="header">Beds</div>
  <LinkTo class="link-button" role="button" @route="ward.add-beds" @model={{this.model.id}}>
    <img src="/assets/images/plus.svg" alt="">
    Add beds
  </LinkTo>
  <p>Tap a row to edit the bed status</p>
</div>

{{#if this.model.beds}}
  <div class="table">
    <div class="header">
      <div class="bed-number"></div>
      <div class="header--column availability-1">
        {{t "beds-table.headers.ref"}}
        <img class="icon" src="/assets/images/occupied-white.svg" alt="">
      </div>
      <div class="header--column availability-2">
        {{t "beds-table.headers.status"}}
      </div>
      {{!-- <div class="header--column centered">
        Initials
      </div>
      <div class="header--column centered sex">
        Sex
      </div> --}}
      <div class="header--column centered day">
        {{t "beds-table.headers.day"}}
      </div> 
      <div class="header--column covid-status">
        <img class="icon" src="/assets/images/covid-19-positive-white.svg" alt="">
        {{t "beds-table.headers.covid"}}
      </div>
      <div class="header--column centered">
        {{t "beds-table.headers.care-level"}}
      </div>
      <div class="header--column centered vent">
        {{t "beds-table.headers.ventilation"}}
      </div>
      <div class="header--column centered rrt">
        {{t "beds-table.headers.rrt"}}
      </div>
      <div class="header--column centered"></div>
    </div>

    {{#each this.model.beds as |bed index|}}
      <div class="table_card"  role="button" {{on "click" (fn this.openModal bed index)}}>
        <div class="bed-number">{{bed.reference}}</div>
        {{#if bed.available}}
          <div class="column availability-1">
            <img class="icon" src="/assets/images/available-yes-green.svg" alt="">
          </div>
          <div class="column availability-2">
            {{t "beds-table.data.available"}}
          </div>

          {{!-- <div class="column"></div>
          <div class="column sex"></div> --}}
          <div class="column day"></div>
          <div class="column covid-status"></div>
          <div class="column"></div>
          <div class="column vent"></div>
          <div class="column rrt"></div>
          <div class="column discharge"></div>
        {{else}}
          <div class="column availability-1">
            <img class="icon" src="/assets/images/occupied-off-black.svg" alt="">
          </div>
          <div class="column availability-2">
            {{t "beds-table.data.occupied"}}
          </div>
          <div class="column day">
            <div class="text">{{days-since-admission bed.dateOfAdmission}}</div>
          </div>
          <div class="column covid-status">
            {{#if (eq bed.covidStatus "POSITIVE")}}
              <img class="icon covid-status-table" src="/assets/images/covid-19-positive-red.svg" alt="">
            {{else if (eq bed.covidStatus "NEGATIVE")}}
              <img class="icon covid-status-table" src="/assets/images/covid-19-negative.svg" alt="">
            {{else if (eq bed.covidStatus "SUSPECTED")}}
              <img class="icon covid-status-table" src="/assets/images/covid-19-suspected-purple.svg" alt="">
            {{else if (eq bed.covidStatus "GREEN")}}
              <img class="icon covid-status-table" src="/assets/images/covid-19-green.svg" alt="">
            {{/if}}
            {{bed.covidStatus}}
          </div>
          <div class="column level">
            {{#if bed.levelOfCare}}
              <div class="text">{{t (concat "beds-table.data." bed.levelOfCare)}}</div>
            {{/if}}
          </div>
          <div class="column vent">
            {{#if bed.ventilationType}}
              <div class="text">{{t (concat "beds-table.data." bed.ventilationType)}}</div>
            {{else}}
              <div class="text">{{t "beds-table.data.NONE"}}</div>
            {{/if}}
          </div>

          <div class="column rrt">
            {{#if bed.rrtType}}
              <div class="text">{{t (concat "beds-table.data." bed.rrtType)}}</div>
            {{else}}
              <div class="text">{{t "beds-table.data.NONE"}}</div>
            {{/if}}
          </div>

          <div class="column discharge" role="button">
            <div class="text">{{t "beds-table.data.discharge"}}</div>
          </div>
        {{/if}}
      </div>
    {{/each}}

  </div>
{{/if}}

{{#if this.editBedModalIsOpen}}
  <ModalDialog @onClose={{this.closeModal}} @targetAttachment="center" @attachment="middle" @hasOverlay={{true}}>
    <div class="header">
      {{#if this.showDeleteForm}}
        <img src="/assets/images/delete.svg" alt="">
        Delete bed
      {{else}}
        Edit bed
      {{/if}}
      {{this.reference}}
      <div class="close-btn" role="button" {{action this.closeModal}}>
        <img src="/assets/images/cross.svg" alt="">
      </div>
    </div>

    {{#if this.showDeleteForm }}
      <form>
        <div class="subheader">Are you sure you want to delete this bed from the ward?</div>

        <div class="btns-container">
          <button
            type="button"
            class="form_btn cancel"
            {{on "click" this.toggleDeleteModal}}>
            Cancel
          </button>

          <button
            type="submit"
            class="form_btn submit"
            {{on "click" this.deleteBed}}>
            Delete
          </button>
        </div>
      </form>
    {{else}}
      <form class="edit-bed-form">
        <div class="bed-toggle">
          <span class="toggle {{if this.available "toggle--left" "toggle--right"}}"></span>
          <div>
            <span {{on "click" (fn this.setAvailability true)}}>Available</span>
            <span {{on "click" (fn this.setAvailability false)}}>Occupied</span>
          </div>
        </div>

        <section>
          <div class="section-header">
            Reference:
          </div>
          <Input @id="reference"
                 @name="reference"
                 @class="form_input"
                 @key-up={{fn (mut this.changesMade) true}}
                 @value={{this.reference}} />
        </section>

        {{#if (not this.available)}}
          <section>
            <div class="section-header">
              Date of admission:
            </div>
            <Input @type="date" 
                   @id="dateOfAdmission"
                   @name="dateOfAdmission"
                   @class="form_input"
                   @change={{fn (mut this.changesMade) true}}
                   @value={{this.dateOfAdmission}} />
          </section>
          
          <section>
            <div class="section-header">
              Source of admission:
            </div>
            <div class="radio">
              <input
                id="source"
                type="radio"
                checked={{eq this.sourceOfAdmission "ED"}}
                onclick={{action this.setSourceOfAdmission "ED"}}>
              <label for="source" class="radio--label">
                <div class="radio--text">ED</div>
              </label>
            </div>

            <div class="radio">
              <input
                id="extWard"
                type="radio"
                checked={{eq this.sourceOfAdmission "EXTERNAL_WARD"}}
                onclick={{action this.setSourceOfAdmission "EXTERNAL_WARD"}}>
              <label for="extWard" class="radio--label">
                <div class="radio--text">External ward</div>
              </label>
            </div>

            <div class="radio no-top-margin">
              <input
                id="intWard"
                type="radio"
                checked={{eq this.sourceOfAdmission "INTERNAL_WARD"}}
                onclick={{action this.setSourceOfAdmission "INTERNAL_WARD"}}>
              <label for="intWard" class="radio--label">
                <div class="radio--text">Internal ward</div>
              </label>
            </div>

            <div class="radio no-top-margin">
              <input
                id="extITU"
                type="radio"
                checked={{eq this.sourceOfAdmission "EXTERNAL_ITU"}}
                onclick={{action this.setSourceOfAdmission "EXTERNAL_ITU"}}>
              <label for="extITU" class="radio--label">
                <div class="radio--text">External ITU</div>
              </label>
            </div>

            <div class="radio no-top-margin">
              <input
                id="intITU"
                type="radio"
                checked={{eq this.sourceOfAdmission "INTERNAL_ITU"}}
                onclick={{action this.setSourceOfAdmission "INTERNAL_ITU"}}>
              <label for="intITU" class="radio--label">
                <div class="radio--text">Internal ITU</div>
              </label>
            </div>

            <div class="radio no-top-margin">
              <input
                id="ITURead"
                type="radio"
                checked={{eq this.sourceOfAdmission "ITU_READMISSION"}}
                onclick={{action this.setSourceOfAdmission "ITU_READMISSION"}}>
              <label for="ITURead" class="radio--label">
                <div class="radio--text">ITU readmission</div>
              </label>
            </div>
          </section>

          <section>
            <div class="section-header">
              COVID status:
            </div>
            <div class="radio">
              <input
                id="green"
                type="radio"
                checked={{eq this.covidStatus "GREEN"}}
                onclick={{action this.setCovidStatus "GREEN"}}>
              <label for="green" class="radio--label">
                <div class="radio--text">Green</div>
              </label>
            </div>

            <div class="radio {{this.covidStatus}}">
              <input
                id="positive"
                type="radio"
                checked={{eq this.covidStatus "POSITIVE"}}
                onclick={{action this.setCovidStatus "POSITIVE"}}>
              <label for="positive" class="radio--label">
                <div class="radio--text">COVID positive</div>
              </label>
            </div>

            <div class="radio no-top-margin">
              <input
                id="negative"
                type="radio"
                checked={{eq this.covidStatus "NEGATIVE"}}
                onclick={{action this.setCovidStatus "NEGATIVE"}}>
              <label for="negative" class="radio--label">
                <div class="radio--text">COVID negative</div>
              </label>
            </div>

            <div class="radio no-top-margin">
              <input
                id="suspected"
                type="radio"
                checked={{eq this.covidStatus "SUSPECTED"}}
                onclick={{action this.setCovidStatus "SUSPECTED"}}>
              <label for="suspected" class="radio--label">
                <div class="radio--text">COVID suspected</div>
              </label>
            </div>
          </section>

          <section>
            <div class="section-header">
              Level of care:
            </div>
            <div class="radio">
              <input
                id="level-1"
                type="radio"
                checked={{eq this.levelOfCare "LEVEL_1"}}
                onclick={{action this.setLevelOfCare "LEVEL_1"}}>
              <label for="level-1" class="radio--label">
                <div class="radio--text">Level 1</div>
              </label>
            </div>

            <div class="radio">
              <input
                id="level-2"
                type="radio"
                checked={{eq this.levelOfCare "LEVEL_2"}}
                onclick={{action this.setLevelOfCare "LEVEL_2"}}>
              <label for="level-2" class="radio--label">
                <div class="radio--text">Level 2</div>
              </label>
            </div>

            <div class="radio no-top-margin">
              <input
                id="level-3"
                type="radio"
                checked={{eq this.levelOfCare "LEVEL_3"}}
                onclick={{action this.setLevelOfCare "LEVEL_3"}}>
              <label for="level-3" class="radio--label">
                <div class="radio--text">Level 3</div>
              </label>
            </div>
          </section>

          <section>
            <div class="section-header">
              Tracheostomy:
            </div>
            <div class="radio">
              <input
                id="trachNo"
                type="radio"
                checked={{not this.useTracheostomy}}
                onclick={{this.setUseTracheostomy}}>
              <label for="trachNo" class="radio--label">
                <div class="radio--text">No</div>
              </label>
            </div>

            <div class="radio">
              <input
                id="trachYes"
                type="radio"
                checked={{this.useTracheostomy}}
                onclick={{this.setUseTracheostomy}}>
              <label for="trachYes" class="radio--label">
                <div class="radio--text">Yes</div>
              </label>
            </div>
          </section>

          <section>
            <div class="section-header">
              Ventilation:
            </div>

            {{#each this.ventilationTypes as |ventilation index|}}
              <div class="radio {{if (gt index 1) "no-top-margin"}}">
                <input
                  id={{ventilation.type}}
                  type="radio"
                  checked={{eq this.ventilationType ventilation.type}}
                  onclick={{action this.setVentilationType ventilation.type}}
                  disabled={{and this.useTracheostomy (or (eq ventilation.type "HFNO") (eq ventilation.type "BIPAP"))}}>
                <label for={{ventilation.type}} class="radio--label">
                  <div class="radio--text">{{ventilation.label}}</div>
                </label>
              </div>
            {{/each}}

          </section>

          <section>
            <div class="section-header">
              RRT:
            </div>

            {{#each this.rrtTypes as |rrt index|}}
              <div class="radio {{if (gt index 1) "no-top-margin"}}">
                <input
                  id={{rrt.type}}
                  type="radio"
                  checked={{eq this.rrtType rrt.type}}
                  onclick={{action this.setRrtType rrt.type}}>
                <label for={{rrt.type}} class="radio--label">
                  <div class="radio--text">{{rrt.label}}</div>
                </label>
              </div>
            {{/each}}

          </section>
        {{/if}}

        <button
          type="submit"
          class="form_btn"
          disabled={{not this.changesMade}}
          {{on "click" this.editBed}}>
          Save changes
        </button>

        <div class="delete-container" role="button" {{on "click" this.toggleDeleteModal}}>
          <img src="/assets/images/delete.svg" alt="">
          <div class="text">Remove bed from this ward</div>
        </div>
      </form>
    {{/if}}

  </ModalDialog>
{{/if}}

{{#if this.dischargeBedModalIsOpen}}
  <ModalDialog @onClose={{this.closeModal}} @targetAttachment="center" @attachment="middle" @hasOverlay={{true}}>
    <div class="header">{{t "modal.discharge.header"}}</div>
    <form>
      <div class="subheader ref">{{t "modal.discharge.ref"}}{{this.reference}}</div>
      <section>
        <div class="section-header">{{t "modal.discharge.reason"}}</div>
        {{#each this.dischargeReasons as |reason|}}
          <div class="radio discharge">
            <input
              id={{reason.string}}
              type="radio"
              checked={{eq this.selectedDischargeReason reason.code}}
              onclick={{action this.setDischargeReason reason.code}}>
            <label for={{reason.string}} class="radio--label">{{reason.string}}</label>
          </div>
        {{/each}}

        {{#if (eq this.selectedDischargeReason 'INTERNAL_ICU')}}
          <div class="transfer-patient-container">
            <div class="section-header">{{t "modal.discharge.transfer"}}</div>

            {{x-select model=this.wards openOnFocus=true placeholder="Ward" labelKey="name" valueKey="id" onSelect=(fn this.selectWard wardId="target.value")}}
            {{#if this.beds}}
              {{x-select model=this.beds openOnFocus=true  placeholder="Bed" labelKey="reference" valueKey="id" onSelect=(action 'selectBed' bedId="target")}}
            {{/if}}
            {{#if this.wardHasNoBeds}}
              <div class="form_error">{{t "modal.discharge.no-beds"}}</div>
            {{/if}}
          </div>
        {{/if}}
      </section>

      <p class="subheader">{{t "modal.discharge.warning"}}</p>
      <div class="btns-container">
        <button
          type="button"
          class="form_btn cancel"
          {{on "click" this.closeModal}}>
          Cancel
        </button>

        <button
          type="submit"
          class="form_btn submit"
          disabled={{this.dischargeIsDisabled}}
          {{on "click" this.dischargePatient}}>
          Delete
        </button>
      </div>
    </form>
  </ModalDialog>
{{/if}}