<div class="ward-details">
  {{#if this.model.showSuccessMessage}}
    <div class="banner banner--success">
      <div class="banner_title"><img src="/assets/images/success.svg" alt="">{{t (concat "message.success." this.model.showSuccessMessage.type ".title")}}</div>
      <p>{{t (concat "message.success." this.model.showSuccessMessage.type ".body")}}</p>
      <img src="/assets/images/close.svg" alt="close" class="banner_close"  role="button" {{on "click" (fn (mut this.model.showSuccessMessage) null)}}>
    </div>
  {{/if}}

  <div class="breadcrumbs">
    <LinkTo @route="dashboard" @tagName="span">
      <img src="/assets/images/hospital.svg" alt="">
      <div class="text">{{t "breadcrumbs.dashboard"}}</div>
    </LinkTo>{{t "breadcrumbs.ward"}} {{this.model.name}}
  </div>
  <div class="ward-details_names">
    <div>
      <h1>{{this.model.name}}</h1>
      <p>{{this.model.description}}</p>
    </div>
    <p class="update-staff-btn" {{on "click" this.openStaffModal}}>{{t "ward-dashboard.update-staffing"}}</p>
    <LinkTo @route="ward.edit" @model={{this.model}}>{{t "ward-dashboard.edit"}}</LinkTo>
  </div>

  <div class="cards-container--wards">
    <div class="card">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/occupied.svg" alt="">
        <div class="card_header-text">{{t "ward-dashboard.total-beds"}} {{this.model.totalBeds}}</div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{this.model.availableBeds}}</div>
        <div class="card_data-block--label">{{t "ward-dashboard.total-avail-beds"}}</div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{this.availableBedsPercentage}}%</div>
        <div class="card_data-block--label">{{t "ward-dashboard.total-avail-capacity"}}</div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{this.model.totalVentilatorInUse}}</div>
        <div class="card_data-block--label">{{t "ward-dashboard.total-ventilators"}}</div>
      </div>
    </div>

    <div class="card">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/covid-19-positive.svg" alt="">
        <div class="card_header-text">{{t "ward-dashboard.total-covid-stats"}}</div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{this.model.totalCovidStatusPositive}}</div>
        <div class="card_data-block--label">
          <img class="icon" src="/assets/images/covid-19-positive-red.svg" alt="">
          {{t "ward-dashboard.total-covid-pos"}}
        </div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{this.model.totalCovidStatusNegative}}</div>
        <div class="card_data-block--label">
          <img class="icon" src="/assets/images/covid-19-negative.svg" alt="">
          {{t "ward-dashboard.total-covid-neg"}}
        </div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{this.model.totalCovidStatusSuspected}}</div>
        <div class="card_data-block--label">
          <img class="icon" src="/assets/images/covid-19-suspected-purple.svg" alt="">
          {{t "ward-dashboard.total-covid-sus"}}
        </div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{this.model.totalCovidStatusGreen}}</div>
        <div class="card_data-block--label">
          <img class="icon" src="/assets/images/covid-19-green.svg" alt="">
          {{t "ward-dashboard.total-covid-green"}}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/staffing.svg" alt="">
        <div class="card_header-text">{{t "dashboard.staffing.title"}}</div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{if (gt this.model.numberOfCritcareNurses 0) this.model.numberOfCritcareNurses "0"}}</div>
        <div class="card_data-block--label">{{t "dashboard.staffing.critical-care-nurses"}}</div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{if (gt this.model.numberOfOtherRns 0) this.model.numberOfOtherRns "0"}}</div>
        <div class="card_data-block--label">{{t "dashboard.staffing.other-rns"}}</div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{if (gt this.model.numberOfNurseSupportStaff 0) this.model.numberOfNurseSupportStaff "0"}}</div>
        <div class="card_data-block--label">{{t "dashboard.staffing.support-staff"}}</div>
      </div>

      <div class="card_data-block two-by-two">
        <div class="card_data-block--value">{{if (gt this.model.maxAdmissionCapacity 0) this.model.maxAdmissionCapacity "0"}}</div>
        <div class="card_data-block--label">{{t "dashboard.staffing.max-capacity"}}</div>
      </div>

      {{#if this.model.canProvideIcsRatios}}
        <div class="card_footer">
          <img class="icon" src="/assets/images/green-tick.svg" alt="">
          <p>{{t "dashboard.staffing.can-provide-nurses"}}</p>
        </div>
      {{/if}}
    </div>


  </div>
</div>

<div class="ward-beds-top-bar">
  <div class="header">{{t "ward-beds.beds"}}</div>
  <LinkTo class="link-button" role="button" @route="ward.add-beds" @model={{this.model.id}}>
    <img src="/assets/images/plus.svg" alt="">{{t "ward-beds.add-beds"}}
  </LinkTo>
  <p>{{t "ward-beds.info"}}</p>
</div>

{{#if this.model.beds}}
  <div class="table">
    <div class="header">
      <div class="bed-number"></div>
      <div class="header--column availability-1">
        {{t "beds-table.headers.ref"}}
        <img class="icon" src="/assets/images/occupied-white.svg" alt="">
      </div>
      <div class="header--column availability-2">
        {{t "beds-table.headers.status"}}
      </div>
      <div class="header--column centered day">
        {{t "beds-table.headers.day"}}
      </div> 
      <div class="header--column covid-status">
        <img class="icon" src="/assets/images/covid-19-positive-white.svg" alt="">
        {{t "beds-table.headers.covid"}}
      </div>
      <div class="header--column centered">
        {{t "beds-table.headers.care-level"}}
      </div>
      <div class="header--column centered vent">
        {{t "beds-table.headers.ventilation"}}
      </div>
      <div class="header--column centered rrt">
        {{t "beds-table.headers.rrt"}}
      </div>
      <div class="header--column centered"></div>
    </div>

    {{#each this.model.beds as |bed index|}}
      <div class="table_card"  role="button" {{on "click" (fn this.openModal bed index)}}>
        <div class="bed-number">{{bed.reference}}</div>
        {{#if bed.available}}
          <div class="column availability-1">
            <img class="icon" src="/assets/images/available-yes-green.svg" alt="">
          </div>
          <div class="column availability-2">
            {{t "beds-table.data.available"}}
          </div>

          <div class="column day"></div>
          <div class="column covid-status"></div>
          <div class="column"></div>
          <div class="column vent"></div>
          <div class="column rrt"></div>
          <div class="column discharge"></div>
        {{else}}
          <div class="column availability-1">
            <img class="icon" src="/assets/images/occupied-off-black.svg" alt="">
          </div>
          <div class="column availability-2">
            {{t "beds-table.data.occupied"}}
          </div>
          <div class="column day">
            <div class="text">{{days-since-admission bed.dateOfAdmission}}</div>
          </div>
          <div class="column covid-status">
            {{#if bed.covidStatus}}
              <img class="icon covid-status-table" src={{concat "/assets/images/table-icon-" (lowercase bed.covidStatus) ".svg"}} alt="">
            {{/if}}
            {{bed.covidStatus}}
          </div>
          <div class="column level">
            {{#if bed.levelOfCare}}
              <div class="text">{{t (concat "beds-table.data." bed.levelOfCare)}}</div>
            {{/if}}
          </div>
          <div class="column vent">
            {{#if bed.ventilationType}}
              <div class="text">{{t (concat "beds-table.data." bed.ventilationType)}}</div>
            {{else}}
              <div class="text">{{t "beds-table.data.NONE"}}</div>
            {{/if}}
          </div>
          <div class="column rrt">
            {{#if bed.rrtType}}
              <div class="text">{{t (concat "beds-table.data." bed.rrtType)}}</div>
            {{else}}
              <div class="text">{{t "beds-table.data.NONE"}}</div>
            {{/if}}
          </div>
          <div class="column discharge" role="button">
            <p class="text">{{t "beds-table.data.discharge"}}</p>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if this.updateStaffModalIsOpen}}
  <ModalDialog @onClose={{this.closeModal}} @targetAttachment="center" @attachment="middle" @hasOverlay={{true}}>
    <div class="header">{{t "update-staff-modal.header"}}</div>

    <div class="update-staff">
      <div class="form_input--counter">
        <label>{{t "update-staff-modal.crit-care"}}</label>
        <button class="round minus" disabled={{eq this.numberOfCritcareNurses 0}} {{on "click" (fn this.updateCritCareTotal 'sub')}}>-</button>
        <p>{{this.numberOfCritcareNurses}}</p>
        <button class="round plus" {{on "click" (fn this.updateCritCareTotal 'add')}}>+</button>
      </div>
      <div class="form_input--counter">
        <label>{{t "update-staff-modal.other-rns"}}</label>
        <button class="round minus" disabled={{eq this.numberOfOtherRns 0}} {{on "click" (fn this.updateOtherRnsTotal 'sub')}}>-</button>
        <p>{{this.numberOfOtherRns}}</p>
        <button class="round plus" {{on "click" (fn this.updateOtherRnsTotal 'add')}}>+</button>
      </div>
      <div class="form_input--counter">
        <label>{{t "update-staff-modal.support"}}</label>
        <button class="round minus" disabled={{eq this.numberOfNurseSupportStaff 0}} {{on "click" (fn this.updateNurseSupportTotal 'sub')}}>-</button>
        <p>{{this.numberOfNurseSupportStaff}}</p>
        <button class="round plus" {{on "click" (fn this.updateNurseSupportTotal 'add')}}>+</button>
      </div>

      <section>
        <div class="subheader">{{t "update-staff-modal.ratios-to-ics"}}</div>

        <div class="radio">
          <input
            id="ratiosYes"
            type="radio"
            checked={{this.canProvideIcsRatios}}
            onclick={{action this.setCanProvideNurseRatios true}}>
          <label for="ratiosYes" class="radio--label">{{t "labels.yes"}}</label>
        </div>
        <div class="radio">
          <input
            id="ratiosNo"
            type="radio"
            checked={{and (not this.canProvideIcsRatios) (not (eq this.canProvideIcsRatios null))}}
            onclick={{action this.setCanProvideNurseRatios false}}>
          <label for="ratiosNo" class="radio--label">{{t "labels.no"}}</label>
        </div>
      </section>

      <section class="capacity">
        <div class="subheader capacity">{{t "update-staff-modal.max-admission-capacity"}}</div>
        <Input @type="number"
               @class="form_input form_input--capacity"
               min="0"
               @key-up={{fn (mut this.maxAdmissionCapacity value)}}
               @value={{this.maxAdmissionCapacity}} />
        <div class="help-text">{{t "update-staff-modal.help-text"}}</div>
      </section>

      <div class="btns-container">
        <button
          type="button"
          class="form_btn cancel"
          {{on "click" this.closeModal}}>
          {{t "buttons.cancel"}}
        </button>

        <button
          type="submit"
          class="form_btn submit"
          {{!-- disabled={{this.dischargeIsDisabled}} --}}
          {{on "click" this.updateStaffing}}>
          {{t "buttons.update"}}
        </button>
      </div>
    </div>
  </ModalDialog>
{{/if}}

{{#if this.editBedModalIsOpen}}
  <ModalDialog @onClose={{this.closeModal}} @targetAttachment="center" @attachment="middle" @hasOverlay={{true}}>
    <div class="header">
      {{#if this.showDeleteForm}}
        <img src="/assets/images/delete.svg" alt="">
        {{t "edit-bed-modal.header.delete"}}
      {{else}}
        {{t "edit-bed-modal.header.edit"}}
      {{/if}}
      {{this.reference}}
      <div class="close-btn" role="button" {{action this.closeModal}}>
        <img src="/assets/images/cross.svg" alt="">
      </div>
    </div>

    {{#if this.showDeleteForm }}
      <form>
        <div class="subheader">{{t "edit-bed-modal.subheader.delete"}}</div>

        <div class="btns-container">
          <button
            type="button"
            class="form_btn cancel"
            {{on "click" this.toggleDeleteModal}}>
            {{t "buttons.cancel"}}
          </button>

          <button
            type="submit"
            class="form_btn submit"
            {{on "click" this.deleteBed}}>
            {{t "buttons.delete"}}
          </button>
        </div>
      </form>
    {{else}}
      <form class="edit-bed-form">
        <div class="bed-toggle">
          <span class="toggle {{if this.available "toggle--left" "toggle--right"}}"></span>
          <div>
            <span {{on "click" (fn this.setAvailability true)}}>{{t "edit-bed-modal.available"}}</span>
            <span {{on "click" (fn this.setAvailability false)}}>{{t "edit-bed-modal.occupied"}}</span>
          </div>
        </div>

        <section>
          <div class="section-header">{{t "edit-bed-modal.section-header.reference"}}</div>
          <Input @id="reference"
                 @name="reference"
                 @class="form_input"
                 @key-up={{fn (mut this.changesMade) true}}
                 @value={{this.reference}} />
        </section>

        {{#if (not this.available)}}
          <section>
            <div class="section-header">{{t "edit-bed-modal.section-header.date-of-admission"}}</div>
            <Input @type="date" 
                   @id="dateOfAdmission"
                   @name="dateOfAdmission"
                   @class="form_input"
                   @change={{fn (mut this.changesMade) true}}
                   @value={{this.dateOfAdmission}} />
          </section>
          
          <section>
            <div class="section-header">{{t "edit-bed-modal.section-header.source-of-admission"}}</div>
            {{#each this.sourcesOfAdmission as |source index|}}
              <Radio @type={{source}} @index={{index}} @checkedProperty={{this.sourceOfAdmission}} @setPropMethod={{this.setSourceOfAdmission}} />
            {{/each}}
          </section>

          <section>
            <div class="section-header">{{t "edit-bed-modal.section-header.covid-status"}}</div>
            {{#each this.covidStatuses as |status index|}}
              <Radio @type={{status}} @index={{index}} @checkedProperty={{this.covidStatus}} @setPropMethod={{this.setCovidStatus}} />
            {{/each}}
          </section>

          <section>
            <div class="section-header">{{t "edit-bed-modal.section-header.level-of-care"}}</div>
            {{#each this.levelsOfCare as |status index|}}
              <Radio @type={{status}} @index={{index}} @checkedProperty={{this.levelOfCare}} @setPropMethod={{this.setLevelOfCare}} />
            {{/each}}
          </section>

          <section>
            <div class="section-header">{{t "edit-bed-modal.section-header.tracheostomy"}}
            </div>
            <div class="radio">
              <input
                id="trachNo"
                type="radio"
                checked={{not this.useTracheostomy}}
                onclick={{this.setUseTracheostomy}}>
              <label for="trachNo" class="radio--label">{{t "labels.no"}}</label>
            </div>

            <div class="radio">
              <input
                id="trachYes"
                type="radio"
                checked={{this.useTracheostomy}}
                onclick={{this.setUseTracheostomy}}>
              <label for="trachYes" class="radio--label">{{t "labels.yes"}}</label>
            </div>
          </section>

          <section>
            <div class="section-header">{{t "edit-bed-modal.section-header.ventilation"}}</div>
            {{#each this.ventilationTypes as |ventilation index|}}
              <Radio @type={{ventilation}} @index={{index}} @checkedProperty={{this.ventilationType}} @setPropMethod={{this.setVentilationType}} @disabled={{and this.useTracheostomy (or (eq ventilation "HFNO") (eq ventilation "BIPAP"))}} />
            {{/each}}

          </section>

          <section>
            <div class="section-header">{{t "edit-bed-modal.section-header.rrt"}}</div>
            {{#each this.rrtTypes as |rrt index|}}
              <Radio @type={{rrt}} @index={{index}} @checkedProperty={{this.rrtType}} @setPropMethod={{this.setRrtType}} />
            {{/each}}

          </section>
        {{/if}}

        <button
          type="submit"
          class="form_btn"
          disabled={{not this.changesMade}}
          {{on "click" this.editBed}}>
          {{t "buttons.save-changes"}}
        </button>

        <div class="delete-container" role="button" {{on "click" this.toggleDeleteModal}}>
          <img src="/assets/images/delete.svg" alt="">
          <div class="text">{{t "buttons.remove-bed"}}</div>
        </div>
      </form>
    {{/if}}

  </ModalDialog>
{{/if}}

{{#if this.dischargeBedModalIsOpen}}
  <ModalDialog @onClose={{this.closeModal}} @targetAttachment="center" @attachment="middle" @hasOverlay={{true}}>
    <div class="header">{{t "modal.discharge.header"}}</div>
    <form>
      <div class="subheader ref">{{t "modal.discharge.ref"}}{{this.reference}}</div>
      <section>
        <div class="section-header">{{t "modal.discharge.reason"}}</div>
        {{#each this.dischargeReasons as |reason|}}
          <div class="radio discharge">
            <input
              id={{reason.string}}
              type="radio"
              checked={{eq this.selectedDischargeReason reason.code}}
              onclick={{action this.setDischargeReason reason.code}}>
            <label for={{reason.string}} class="radio--label">{{reason.string}}</label>
          </div>
        {{/each}}

        {{#if (eq this.selectedDischargeReason 'INTERNAL_ICU')}}
          <div class="transfer-patient-container">
            <div class="section-header">{{t "modal.discharge.transfer"}}</div>

            {{x-select model=this.wards openOnFocus=true placeholder="Ward" labelKey="name" valueKey="id" onSelect=(fn this.selectWard wardId="target.value")}}
            {{#if this.beds}}
              {{x-select model=this.beds openOnFocus=true  placeholder="Bed" labelKey="reference" valueKey="id" onSelect=(action 'selectBed' bedId="target")}}
            {{/if}}
            {{#if this.wardHasNoBeds}}
              <div class="form_error">{{t "modal.discharge.no-beds"}}</div>
            {{/if}}
          </div>
        {{/if}}
      </section>

      <p class="subheader">{{t "modal.discharge.warning"}}</p>
      <div class="btns-container">
        <button
          type="button"
          class="form_btn cancel"
          {{on "click" this.closeModal}}>
          {{t "buttons.cancel"}}
        </button>

        <button
          type="submit"
          class="form_btn submit"
          disabled={{this.dischargeIsDisabled}}
          {{on "click" this.dischargePatient}}>
          {{t "buttons.discharge"}}
        </button>
      </div>
    </form>
  </ModalDialog>
{{/if}}