<div class="reports_admissions-card">
  <div class="title">{{@title}}</div>
  <div class="data-container">
    <div class="label"><p>{{t "reports.table-headers.covid" htmlSafe=true}}</p></div>
    <div class="value"><p>{{@valueOne}}</p></div>
  </div>
  <div class="data-container">
    <div class="label"><p>{{t "reports.table-headers.amber"}}</p></div>
    <div class="value"><p>{{@valueTwo}}</p></div>
  </div>
  <div class="data-container">
    <div class="label"><p>{{t "reports.table-headers.green"}}</p></div>
    <div class="value"><p>{{@valueThree}}</p></div>
  </div>
</div>