<div class="page">
  <form
    class="form form_add"
    {{on "submit" this.createWard}}>
    <div class="form_header">Add a ward</div>

    <label
      for="wardName"
      class="form_label">
      Ward name
    </label>
    <Input
      @type="text"
      @name="wardName"
      @class="form_input form_short-name-input"
      @value={{this.name}}
      @key-up={{action (mut this.name) value=@target.value}} />
    <div class="form_help-text">Enter the ward name</div>

    <label
      for="description"
      class="form_label">
      Ward description
      <span>~ optional</span>
    </label>
    <Input
      @type="text"
      @name="description"
      @class="form_input form_description-input"
      @value={{this.description}}
      @key-up={{action (mut this.description) value=@target.value}} />
    <div class="form_help-text">Enter the ward description</div>

    <section>
      <div class="section-header">{{t "add-ward.ward-type"}}</div>
      {{#each this.wardTypes as |type|}}
        <div class="radio add-ward">
          <input
            id={{type}}
            type="radio"
            checked={{eq this.wardType type}}
            onclick={{action this.setWardType type}}>
          <label for={{type}} class="radio--label">{{t (concat "labels.ward." (lowercase type))}}</label>
        </div>
        <p class="helper">{{t (concat "labels.helper." (lowercase type))}}</p>
      {{/each}}
    </section>

    <section class="icu">
      <div class="section-header">{{t "add-ward.icu"}}</div>
        <div class="radio add-ward">
          <input
            id="standard"
            type="radio"
            checked={{not this.isSurgeWard}}
            onclick={{action this.setIsSurgeWard false}}>
          <label for="standard" class="radio--label">{{t "labels.ward.standard"}}</label>
        </div>

        <div class="radio add-ward">
          <input
            id="surge"
            type="radio"
            checked={{this.isSurgeWard}}
            onclick={{action this.setIsSurgeWard true}}>
          <label for="surge" class="radio--label">{{t "labels.ward.surge"}}</label>
        </div>
    </section>

    <div class="btns-container">
      <button
        type="button"
        class="form_btn cancel"
        {{on "click" this.cancel}}>
        Cancel
      </button>

      <button
        type="submit"
        class="form_btn"
        disabled={{or (not this.name) (eq this.wardType null)}}>
        Add ward
      </button>
    </div>
  </form>

  {{#if this.error}}
    <div class="banner banner--error">
      <div class="banner_title"><img src="/assets/images/error.svg" alt="">Something went wrong</div>
      <p>Please try adding the ward again</p>
      <img src="/assets/images/close.svg" alt="close" class="banner_close" {{on "click" (fn (mut this.error) false)}}>
    </div>
  {{/if}}
</div>