<div class="application">
  <div class="top-bar">
    <LinkTo @route="dashboard">
      <img class="app-logo" src="/assets/images/bed-checker-logo.svg" alt="">
    </LinkTo>
    {{#if this.showHospitalDetails}}
      <div class="hospital-details">
        <div><strong>{{this.account.hospital.name}}</strong></div>
        <div>{{this.account.hospital.address}}</div>
      </div>
      <div class="logout" role="button" {{on "click" this.logout}}>
        <img class="icon" src="/assets/images/logout.svg" alt="">
        Log out
      </div>
    {{else}}
      <div class="app-name">Bed Checker</div>
    {{/if}}
  </div>
  {{outlet}}
</div>