{{#if this.model.active}}
  <div class="content">
    <div class="badge {{if this.model.available "badge--success" "badge--error"}}">
      {{if this.model.available "Available" "Not available"}}
    </div>
    <div class="row">
      <div>Reference:</div>
      <div>{{this.model.reference}}</div>
    </div>

    {{#if this.model.available}}
      <button {{on "click" this.makeUnavailable}}>Make unavailable</button>
    {{else}}
      <button {{on "click" this.makeAvailable}}>Make available</button>
    {{/if}}
  </div>
{{else}}
  <div class="banner">
    <div class="banner_title"><img src="/assets/images/error.svg" alt="">This bed is inactive</div>
    <p>Add the bed reference number to activate and make the bed available for use.</p>
  </div>

  <div class="content">
    <h1>Activate bed</h1>

    <label for="reference" class="form_label">
      Bed reference number
    </label>
    <Input @id="reference"
           @type="text"
           @name="reference"
           @required={{true}}
           @class="form_input"
           @value={{this.bedReference}} />
    {{#if this.errors.hasError}}
      <div class="help-text error">Something went wrong, please try again.</div>
    {{else}}
      <div class="help-text">Enter the reference number of this bed to activate</div>
    {{/if}}

    <button {{on "click" this.activateBed}} disabled={{not this.bedReference}}>Activate</button>
  </div>
{{/if}}