{{#if this.model.active}}
  {{#if this.model.available}}
    <div class="banner banner--success">
      <div class="banner_title"><img src="/assets/images/success.svg" alt="">This bed is active</div>
      <p>Bed available for patient occupation.</p>
      <div class="height-line"></div>
    </div>
  {{else}}
    <div class="banner banner--info">
      <div class="banner_title"><img src="/assets/images/info.svg" alt="">This bed is not available</div>
      <p>Add the bed reference number to activate and make the bed available for use.</p>
    </div>
  {{/if}}

  <div class="content">
    <h1>Bed reference: {{this.model.reference}}</h1>

    <div class="controls">
      <span>Bed available for use</span>
      <div role="button" class="toggle {{if this.model.available "toggle-on" "toggle-off"}}" {{on "click" this.toggleAvailability}}>
        <img src="{{if this.model.available "/assets/images/toggle-tick.svg" "/assets/images/toggle-cross.svg"}}" alt="">
      </div>
    </div>

    <p>Immediately change the status of this bed between available for use and occupied or no longer available.</p>
  </div>
{{else}}
  <div class="banner banner--error">
    <div class="banner_title"><img src="/assets/images/error.svg" alt="">This bed is inactive</div>
    <p>Add the bed reference number to activate and make the bed available for use.</p>
  </div>

  <div class="content">
    <h1>Activate bed</h1>

    <label for="reference" class="form_label">
      Bed reference number
    </label>
    <Input @id="reference"
           @type="text"
           @name="reference"
           @required={{true}}
           @class="form_input"
           @value={{this.bedReference}} />
    {{#if this.errors.hasError}}
      <div class="help-text error">Something went wrong, please try again.</div>
    {{else}}
      <div class="help-text">Enter the reference number of this bed to activate</div>
    {{/if}}

    <button {{on "click" this.activateBed}} disabled={{not this.bedReference}}>Activate</button>
  </div>
{{/if}}

<LinkTo @route="scan" @tagName="button" class="button--secondary">Return to QR scanner</LinkTo>