<div class="page">

  {{#if this.model.showSuccessMessage}}
    <div class="banner banner--success">
      <div class="banner_title"><img src="/assets/images/success.svg" alt="">Ward successfully added</div>
      <p>Click on the ward to add the number of COVID beds</p>
      <img src="/assets/images/close.svg" alt="close" class="banner_close" {{on "click" (fn (mut this.model.showSuccessMessage) null)}}>
    </div>
  {{/if}}

  {{#if this.model.useManagement}}

    <div class="cards-container">
      <div class="page_header">
        <img class="page_icon" src="/assets/images/hospital.svg" alt="">
        Hospital Dashboard
      </div>

      <div class="card">
        <div class="card_header">
          <img class="card_icon" src="/assets/images/occupied.svg" alt="">
          <div class="card_header-text">Available beds</div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">
            {{this.model.totalAvailableCovidBeds}} 
            <div class="slash"> / </div> 
            <div class="totals">{{this.model.totalCovidBeds}}</div>
          </div>
          <div class="card_data-block--label">
            <img class="icon" src="/assets/images/covid-19-positive-small.svg" alt="">
            COVID ITU beds
          </div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">
            {{this.model.totalAvailableNonCovidBeds}}
            <div class="slash"> / </div> 
            <div class="totals">{{this.model.totalNonCovidBeds}}</div>
          </div>
          <div class="card_data-block--label">
            <img class="icon" src="/assets/images/covid-19-negative.svg" alt="">
            Non COVID beds
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card_header">
          <img class="card_icon" src="/assets/images/covid-19-positive.svg" alt="">
          <div class="card_header-text">COVID Patients</div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">{{this.model.totalCovidStatusPositive}}</div>
          <div class="card_data-block--label">
            <img class="icon" src="/assets/images/covid-19-positive-red.svg" alt="">
            COVID positive
          </div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">{{this.model.totalCovidStatusSuspected}}</div>
          <div class="card_data-block--label">
            <img class="icon" src="/assets/images/covid-19-suspected-purple.svg" alt="">
            COVID suspected
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card_header">
          <img class="card_icon" src="/assets/images/ventilator.svg" alt="">
          <div class="card_header-text">Hemofiltration</div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">{{this.model.availableHemofilter}}</div>
          <div class="card_data-block--label hemo">Total Hemofiltration in progress</div>
        </div>
      </div>
    </div>

    <div class="wards_container">
      <div class="wards_header--container">
        <div class="wards_header">WARDS</div>
        <LinkTo @route="add-ward" class="wards_link--button" role="button">
          <img class="wards_link--icon" src="/assets/images/plus.svg" alt="">
          Add Ward
        </LinkTo>
      </div>

      {{#if this.model.wards.length}}

        <div class="table">
          <div class="header header--wards">

            <div class="header--column">
              Ward
            </div>
            <div class="header--column">
              <img class="icon" src="/assets/images/available-white.svg" alt="">
              Availability
            </div>
            <div class="header--column view">
              View
            </div>
          </div>
        </div>
        
        {{#each this.model.wards as |ward|}}
          <LinkTo class="wards_card" @route="ward" @model={{ward.id}} role="button">
            <div class="column wards_card--name-container">
              <div class="wards_card--ward-name {{if ward.isCovidWard "with-covid-badge"}}">{{ward.name}}</div>
              {{#if ward.isCovidWard}}
                <div class="wards_card--covid-badge">
                  COVID ward
                </div>
              {{/if}}
            </div>

            <div class="column">
              {{#if (eq ward.availableBeds 0)}}
                <img src="/assets/images/available-no-red.svg" alt="">
              {{else}}
                <img src="/assets/images/available-yes-green.svg" alt="">
              {{/if}}
              <div class="wards_card--beds-number">
                {{ward.availableBeds}} /
                <span>{{ward.beds.length}}</span>
              </div>
            </div>

            <div class="column arrow">
              <img class="wards_link--arrow" src="/assets/images/view.svg" alt="">
            </div>

          </LinkTo>
        {{/each}}
      {{else}}
        <div class="wards_body-text">
          To get started add a ward and register the number of COVID beds.<br><br>If a bed is occupied, set the COVID status of the patient and whether any ventilators are being used.
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>

{{!-- <img class="qr-code" src={{this.qrCode}} alt=""> --}}