<div class="page">
  {{#if (eq this.model.hospital.useQrCode null)}}
    <div class="qr-choice-warning">Please select how your hospital will be tracking beds. Please note that this choice cannot be changed after you have selected.</div>
    <button class="form_btn" {{on "click" (fn setQrCodeSystem true)}}>Use mobile device QR scanning ONLY</button>
    <button class="form_btn" {{on "click" (fn setQrCodeSystem false)}}>Use manual entry throough this app ONLY</button>
  {{else}}

    {{#if this.model.hospital.useQrCode}}
        <div class="divTable">
          <div class="divTableBody">
            {{#each this.model.hospital.beds as |beds|}}
              {{log beds}}
              <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
              </div>
            {{/each}}
          </div>
        </div>
    {{else}}
      <div class="cards-container">
        <div class="page_header">Beds</div>

        <div class="card {{if this.showEditTotalBedsForm "with-form"}}">
          <div class="card_header">{{this.totalBeds}}</div>
          <div class="card_subheader">Total Beds</div>
          <img class="card_icon" src="/assets/images/occupied.svg" alt="">
          <button class="card_btn" onclick={{action toggleProperty "showEditTotalBedsForm"}}>
            {{#if this.showEditTotalBedsForm}}
              <img class="" src="/assets/images/cross.png" alt="">
            {{else}}
              Edit
            {{/if}}
          </button>
          {{#if this.showEditTotalBedsForm}}
            <form 
              class="edit-beds_form total-beds"
              {{on "submit" this.editTotalBeds}}>
              <div class="edit-beds_subheader">Edit total number of beds</div>

              <label 
                for="editTotalBedsNumber" 
                class="form_label">
                Total beds
              </label>
              <Input
                @type="number" 
                @name="editTotalBedsNumber"
                @required={{true}}
                @class="form_input edit-beds_input"
                @value={{this.newNoOfTotalBeds}}
                @key-up={{action (mut this.newNoOfTotalBeds) value=@target.value}} />

              {{#if this.totalErrorMessage}}
                <div class="edit-beds_help-text error">{{this.totalErrorMessage}}</div>
              {{else}}
                <div class="edit-beds_help-text">The total number of beds at the hospital</div> 
              {{/if}}

              <button 
                type="submit" 
                class="form_btn"
                disabled={{not this.newNoOfTotalBeds}}>
                Enter
              </button>
            </form>
          {{/if}}
        </div>

        <div class="card">
          <div class="card_header">{{this.availableBeds}}</div>
          <div class="card_subheader">Available Beds</div>
          <img class="card_icon" src="/assets/images/available.svg" alt="">
        </div>
      </div>

      <form 
        class="edit-beds_form"
        {{on "submit" this.editBedsAvailability}}>
        <div class="edit-beds_subheader">Edit bed availability</div>

        <label 
          for="editBedsNumber" 
          class="form_label">
          Number of beds
        </label>
        <Input
          @type="number" 
          @name="editBedsNumber"
          @required={{true}}
          @class="form_input edit-beds_input"
          @value={{this.noOfBedsToEditAvailabiity}}
          @key-up={{action (mut this.noOfBedsToEditAvailabiity) value=@target.value}} />
        
        {{#if this.errorMessage}}
          <div class="edit-beds_help-text error">{{this.errorMessage}}</div>
        {{else}}
          <div class="edit-beds_help-text">The number of beds that have changed status</div>  
        {{/if}}

        <div class="edit-beds_help-text bold">These beds are now:</div>

        <div class="edit-beds_radio">
          <input 
            id="available"
            type="radio" 
            checked={{this.makeBedsAvailable}}
            onclick={{action (mut this.makeBedsAvailable) true}}>
          <label for="available" class="edit-beds_radio--label">
            <div class="edit-beds_radio--text">Available beds</div>
          </label>
        </div>

        <div class="edit-beds_radio">
          <input 
            id="unavailable"
            type="radio" 
            checked={{not this.makeBedsAvailable}}
            onclick={{action (mut this.makeBedsAvailable) false}}>
          <label for="unavailable" class="edit-beds_radio--label">
            <div class="edit-beds_radio--text">Unavailable beds</div>
          </label>
        </div>

        <button 
          type="submit" 
          class="form_btn"
          disabled={{not this.noOfBedsToEditAvailabiity}}>
          Enter
        </button>
      </form>
    {{/if}}

  {{/if}}
</div>