<div class="page {{if this.model.hospital.useQrCode "page--QR"}}">
  {{#if (eq this.model.hospital.useQrCode null)}}
    <div class="qr-choice_warning">Please select how your hospital will be tracking beds. <br> <br>Please note that this choice cannot be changed after you have made your selection.</div>

    <div class="qr-choice_form">
      <div class="qr-choice_header">Bed tracking method:</div>

      <div class="edit-beds_radio">
        <input
          id="available"
          type="radio"
          checked={{this.useQrCode}}
          onclick={{action (mut this.useQrCode) true}}>
        <label for="available" class="edit-beds_radio--label">
          <div class="edit-beds_radio--text">Mobile device QR scanning only</div>
        </label>
      </div>

      <div class="edit-beds_radio">
        <input
          id="unavailable"
          type="radio"
          checked={{and (not this.useQrCode) (not (eq this.useQrCode null))}}
          onclick={{action (mut this.useQrCode) false}}>
        <label for="unavailable" class="edit-beds_radio--label">
          <div class="edit-beds_radio--text">Manual entry only</div>
        </label>
      </div>

      {{#if (not (eq this.useQrCode null))}}
        <div class="qr-choice_final-warning">*This cannot be changed later</div>
      {{/if}}

      <button
        type="submit"
        class="qr-choice_btn form_btn"
        disabled={{eq this.useQrCode null}}
        {{on "click" this.setQrCodeSystem}}>
        Choose bed tracking method
      </button>
    </div>

  {{else}}

    {{#if this.model.hospital.useQrCode}}

      {{#if (eq this.totalQrBeds 0)}}
        <div class="instructions">
          <p><strong>Welcome to Bed Checker</strong></p>
          <p>Add the number of beds you would like to register to get started. You can also add more beds in the future.</p>
          <p>Once these beds are registered each bed will have a reference number and a unique QR code that needs to be printed and attached to the bed.</p>
          <p>To make a bed available for patient occupancy it needs to be activated by entering it’s reference number.</p>

          <h1>Register Beds</h1>

          <div class="instructions_form">
            <label for="beds-to-register"
                   class="form_label">
              Number of beds to register
            </label>
            <Input @id="beds-to-register"
                   @type="number"
                   @name="beds-to-register"
                   @required={{true}}
                   @class="form_input"
                   @min="1"
                   pattern="[0-9]"
                   @value={{this.noOfBedsToRegister}} />

            <button disabled={{not this.noOfBedsToRegister}} {{on "click" this.registerBeds}}>Register</button>
          </div>
        </div>
      {{else}}

        <div class="cards-container">
          <div class="page_header">Registered Beds</div>

          <div class="card {{if this.showRegisterBedsForm "with-form"}}">
            <div class="card_header">{{this.totalQrBeds}}</div>
            <div class="card_subheader">Total Beds</div>
            <img class="card_icon" src="/assets/images/occupied.svg" alt="">
            <button class="card_btn register {{if this.showRegisterBedsForm "open"}}" onclick={{pipe-action (action toggleProperty "showRegisterBedsForm") (action this.resetForms)}}>
              {{#if this.showRegisterBedsForm}}
                <img class="" src="/assets/images/cross.png" alt="">
              {{else}}
                + Register more
              {{/if}}
            </button>
            {{#if this.showRegisterBedsForm}}
              <form
                class="edit-beds_form total-beds"
                {{on "submit" this.registerBeds}}>
                <div class="edit-beds_subheader">Register more beds</div>

                <label
                  for="registerBedsNumber"
                  class="form_label">
                  Number of beds to register
                </label>
                <Input
                  @type="number"
                  @name="registerBedsNumber"
                  @required={{true}}
                  @class="form_input edit-beds_input"
                  @value={{this.noOfBedsToRegister}}
                  @min="1"
                  pattern="[0-9]"
                  @key-up={{action (mut this.noOfBedsToRegister) value=@target.value}} />
                <div class="edit-beds_help-text">Enter the number of extra beds to register</div>

                <button
                  type="submit"
                  class="form_btn"
                  disabled={{not this.noOfBedsToRegister}}>
                  Register beds
                </button>
              </form>
            {{/if}}
          </div>

          <div class="card">
            <div class="card_header">{{this.availableBeds}}</div>
            <div class="card_subheader">Total Available Beds</div>
            <img class="card_icon" src="/assets/images/available.svg" alt="">
          </div>

          <div class="card">
            <div class="card_header card_header--{{this.availableBedsPercentageClass}} card_last-card">{{this.availableBedsPercentage}}%</div>
            <div class="card_subheader">Available Capacity</div>
            <img class="card_icon--hospital" src="/assets/images/hospital.svg" alt="">
          </div>
        </div>

        <div class="div-table">
          <div class="div-table_body">
            <div class="div-table_row div-table_head">
              <div class="div-table_cell div-table_head div-table_column-0">#</div>
              <div class="div-table_cell div-table_head div-table_column-1">Bed Reference</div>
              <div class="div-table_cell div-table_head div-table_column-2"><img class="div-table_icon" src="/assets/images/circle.svg" alt="">Availability</div>
              <div class="div-table_cell div-table_head div-table_column-2-5"></div>
              <div class="div-table_cell div-table_head div-table_column-4"><img class="div-table_icon" src="/assets/images/white.svg" alt="">Read For Use</div>
              <div class="div-table_cell div-table_head div-table_column-5"><img class="div-table_icon qr" src="/assets/images/qr-code.svg" alt="">Print QR Code</div>
              <div class="div-table_cell div-table_head div-table_column-3"><img class="div-table_icon delete" src="/assets/images/delete.svg" alt="">Delete</div>
            </div>

            {{#each this.beds as |bed index|}}
              <div class="div-table_row">
                <div class="div-table_cell div-table_column-0">{{plus-one index}}</div>
                <div class="div-table_cell div-table_column-1">{{bed.reference}}</div>
                <div class="div-table_cell div-table_column-2">
                  {{#if (and bed.active bed.available)}}
                    <img class="div-table_icon" src="/assets/images/available-green.svg" alt="">
                    Available
                  {{else if (and bed.active (not bed.available))}}
                    <img class="div-table_icon" src="/assets/images/occupied-red.svg" alt="">
                    Occupied
                  {{else}}
                  {{/if}}
                </div>

                <div class="div-table_cell div-table_column-2-5">
                  {{#if (and bed.active bed.available)}}
                    <button class="div-table_btn" {{on "click" (fn this.toggleAvailability bed false)}}>Change</button>
                  {{else if (and bed.active (not bed.available))}}
                    <button class="div-table_btn" {{on "click" (fn this.toggleAvailability bed true)}}>Change</button>
                  {{else}}
                    {{#if bed.reference}}
                      <button class="div-table_btn" {{on "click" (fn this.activateBed bed)}}>Activate</button>
                    {{else}}
                      <button class="div-table_btn" {{on "click" (fn this.showReferenceModal bed)}}>Activate</button>
                    {{/if}}
                  {{/if}}
                </div>

                <div class="div-table_cell div-table_column-4">
                  {{#if bed.active}}
                    <img class="div-table_icon" src="/assets/images/blue.svg" alt="">Ready
                  {{/if}}
                </div>
                <div class="div-table_cell div-table_column-5">
                  <button class="div-table_btn print" {{on "click" (fn this.printQrCode bed.id)}}>Print code</button>
                </div>

                <div class="div-table_cell div-table_column-3">
                  <button class="div-table_btn print" {{on "click" (fn this.showDeleteModal bed)}}>Delete</button>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/if}}

      {{#if this.showReferenceEntryModal}}
        <ModalDialog @onClose={{this.cancelModal}} @targetAttachment="center" @attachment="middle" @hasOverlay={{true}}>
          <div class="modal_header">A reference is required to activate this bed</div>
          <div class="modal_body">
            <Input
              @type="text"
              @class="form_input edit-beds_input"
              @value={{this.tempReference}}
              @key-up={{action (mut this.tempReference) value=@target.value}} />
            <div class="modal_btn-container">
              <button
                class="form_btn modal_btn cancel"
                {{on "click" this.cancelModal}}>
                Cancel
              </button>
              <button
                class="form_btn modal_btn"
                disabled={{not this.tempReference}}
                {{on "click" (fn this.activateBed this.selectedBedInMemory)}}>
                Enter
              </button>
            </div>
          </div>
        </ModalDialog>
      {{/if}}

      {{#if this.showDeleteBedModal}}
        <ModalDialog @onClose={{this.cancelModal}} @targetAttachment="center" @attachment="middle" @hasOverlay={{true}}>
          <div class="modal_header">Delete this bed?</div>
          <div class="modal_body">
            <div class="modal_btn-container">
              <button
                class="form_btn modal_btn cancel"
                {{on "click" this.cancelModal}}>
                Cancel
              </button>
              <button class="form_btn modal_btn" {{on "click" this.removeBed}}>Delete</button>
            </div>
          </div>
        </ModalDialog>
      {{/if}}

    {{else}}

      <div class="cards-container">
        <div class="page_header">Beds</div>

        <div class="card {{if this.showEditTotalBedsForm "with-form"}}">
          <div class="card_header">{{this.totalBeds}}</div>
          <div class="card_subheader">Total Beds</div>
          <img class="card_icon" src="/assets/images/occupied.svg" alt="">
          <button class="card_btn" onclick={{pipe-action (action toggleProperty "showEditTotalBedsForm") (action this.resetForms)}}>
            {{#if this.showEditTotalBedsForm}}
              <img class="" src="/assets/images/cross.png" alt="">
            {{else}}
              {{#if (eq this.totalBeds 0)}}
                Add
              {{else}}
                Edit
              {{/if}}
            {{/if}}
          </button>
          {{#if this.showEditTotalBedsForm}}
            <form
              class="edit-beds_form total-beds"
              {{on "submit" this.editTotalBeds}}>
              <div class="edit-beds_subheader">Edit total number of beds</div>

              <label
                for="editTotalBedsNumber"
                class="form_label">
                Total beds
              </label>
              <Input
                @type="number"
                @name="editTotalBedsNumber"
                @required={{true}}
                @class="form_input edit-beds_input"
                @value={{this.newNoOfTotalBeds}}
                @min="0"
                @focus-in={{action (mut this.totalErrorMessage) null}}
                @key-up={{action (mut this.newNoOfTotalBeds) value=@target.value}} />

              {{#if this.totalErrorMessage}}
                <div class="edit-beds_help-text error">{{this.totalErrorMessage}}</div>
              {{else}}
                <div class="edit-beds_help-text">The total number of beds at the hospital</div>
              {{/if}}

              <button
                type="submit"
                class="form_btn"
                disabled={{not this.newNoOfTotalBeds}}>
                Enter
              </button>
            </form>
          {{/if}}
        </div>

        <div class="card">
          <div class="card_header">{{this.availableBeds}}</div>
          <div class="card_subheader">Available Beds</div>
          <img class="card_icon" src="/assets/images/available.svg" alt="">
        </div>
      </div>

      {{#unless (eq this.totalBeds 0)}}
        <form
          class="edit-beds_form"
          {{on "submit" this.editBedsAvailability}}>
          <div class="edit-beds_subheader">Edit bed availability</div>

          <label
            for="editBedsNumber"
            class="form_label">
            Number of beds
          </label>
          <Input
            @type="number"
            @name="editBedsNumber"
            @required={{true}}
            @class="form_input edit-beds_input"
            @value={{this.noOfBedsToEditAvailabiity}}
            @min="1"
            @focus-in={{action (mut this.errorMessage) null}}
            @key-up={{action (mut this.noOfBedsToEditAvailabiity) value=@target.value}} />

          {{#if this.errorMessage}}
            <div class="edit-beds_help-text error">{{this.errorMessage}}</div>
          {{else}}
            <div class="edit-beds_help-text">The number of beds that have changed status</div>
          {{/if}}

          <div class="edit-beds_help-text bold">These beds are now:</div>

          <div class="edit-beds_radio">
            <input
              id="available"
              type="radio"
              checked={{this.makeBedsAvailable}}
              onclick={{action (mut this.makeBedsAvailable) true}}>
            <label for="available" class="edit-beds_radio--label">
              <div class="edit-beds_radio--text">Available beds</div>
            </label>
          </div>

          <div class="edit-beds_radio">
            <input
              id="unavailable"
              type="radio"
              checked={{not this.makeBedsAvailable}}
              onclick={{action (mut this.makeBedsAvailable) false}}>
            <label for="unavailable" class="edit-beds_radio--label">
              <div class="edit-beds_radio--text">Occupied beds</div>
            </label>
          </div>

          <button
            type="submit"
            class="form_btn"
            disabled={{not this.noOfBedsToEditAvailabiity}}>
            Enter
          </button>
        </form>
      {{/unless}}
    {{/if}}

  {{/if}}
</div>

<img class="qr-code" src={{this.qrCode}} alt="">