<div class="page">

  {{#if this.model.showSuccessMessage}}
    <div class="banner banner--success">
      <div class="banner_title"><img src="/assets/images/success.svg" alt="">Ward successfully added</div>
      <p>Click on the ward to add the number of COVID beds</p>
      <img src="/assets/images/close.svg" alt="close" class="banner_close" {{on "click" (fn (mut this.model.showSuccessMessage) null)}}>
    </div>
  {{/if}}

  <div class="cards-container {{if (user-agent "device.isMobile") "mobile"}}">
    <div class="page_header">
      <img class="page_icon" src="/assets/images/hospital.svg" alt="">
      {{t "dashboard.title"}}
    </div>

    <div class="card">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/occupied.svg" alt="">
        <div class="card_header-text">{{t "dashboard.available-beds.title"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">
          {{if (gt this.model.totalAvailableCovidBeds 0) this.model.totalAvailableCovidBeds "0"}}
          <div class="slash"> / </div>
          <div class="totals">{{this.model.totalCovidBeds}}</div>
        </div>
        <div class="card_data-block--label">
          <img class="icon" src="/assets/images/covid-19-positive-small.svg" alt="">
          {{t "dashboard.available-beds.covid-beds"}}
        </div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">
          {{if (gt this.model.totalAvailableAmberBeds 0) this.model.totalAvailableAmberBeds "0"}}
          <div class="slash"> / </div>
          <div class="totals">{{this.model.totalAmberBeds}}</div>
        </div>
        <div class="card_data-block--label">
          <img class="icon" src="/assets/images/covid-19-amber.svg" alt="">
          {{t "dashboard.available-beds.amber-beds"}}
        </div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">
          {{if (gt this.model.totalCovidStatusGreen 0) this.model.totalCovidStatusGreen "0"}}
          <div class="slash"> / </div>
          <div class="totals">{{this.model.totalGreenBeds}}</div>
        </div>
        <div class="card_data-block--label">
          <img class="icon" src="/assets/images/covid-19-green.svg" alt="">
          {{t "dashboard.available-beds.green-beds"}}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/covid-19-positive.svg" alt="">
        <div class="card_header-text">TOTAL COVID PATIENT STATS</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{this.model.totalCovidStatusPositive}}</div>
        <div class="card_data-block--label">
          <img class="icon" src="/assets/images/covid-19-positive-red.svg" alt="">
          COVID positive
        </div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{this.model.totalCovidStatusSuspected}}</div>
        <div class="card_data-block--label">
          <img class="icon" src="/assets/images/covid-19-suspected-purple.svg" alt="">
          COVID suspected
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/ventilator.svg" alt="">
        <div class="card_header-text">{{t "dashboard.ventilation.title"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{this.totalBipapCpapNiv}}</div>
        <div class="card_data-block--label hemo">{{t "dashboard.ventilation.cpap-bipap-niv"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{this.model.totalVentilationTypeInvasive}}</div>
        <div class="card_data-block--label hemo">{{t "dashboard.ventilation.iv"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{this.model.totalVentilationTypeHfno}}</div>
        <div class="card_data-block--label hemo">{{t "dashboard.ventilation.hfno"}}</div>
      </div>
    </div>

    <div class="card rrt">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/rrt.svg" alt="">
        <div class="card_header-text">{{t "dashboard.rrt.title"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{this.model.totalRrtTypeRiskOfNextTwentyFourH}}</div>
        <div class="card_data-block--label hemo">{{t "dashboard.rrt.at-risk"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{this.model.totalRrtTypeHaemofiltration}}</div>
        <div class="card_data-block--label hemo">{{t "dashboard.rrt.haemofiltration"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{this.model.totalRrtTypeHaemodialysis}}</div>
        <div class="card_data-block--label hemo">{{t "dashboard.rrt.haemodialysis"}}</div>
      </div>
    </div>

    <div class="card">
      <div class="card_header">
        <img class="card_icon" src="/assets/images/staffing.svg" alt="">
        <div class="card_header-text">{{t "dashboard.staffing.title"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{if (gt this.model.totalNumberOfCritcareNurses 0) this.model.totalNumberOfCritcareNurses "0"}}</div>
        <div class="card_data-block--label">{{t "dashboard.staffing.critical-care-nurses"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{if (gt this.model.totalNumberOfOtherRns 0) this.model.totalNumberOfOtherRns "0"}}</div>
        <div class="card_data-block--label">{{t "dashboard.staffing.other-rns"}}</div>
      </div>
      <div class="card_data-block">
        <div class="card_data-block--value">{{if (gt this.model.totalNumberOfNurseSupportStaff 0) this.model.totalNumberOfNurseSupportStaff "0"}}</div>
        <div class="card_data-block--label">{{t "dashboard.staffing.support-staff"}}</div>
      </div>
      {{#if this.canProvideIcsRatios}}
        <div class="card_footer">
          <img class="icon" src="/assets/images/green-tick.svg" alt="">
          <p>{{t "dashboard.staffing.can-provide-nurses"}}</p>
        </div>
      {{/if}}
    </div>

  </div>

  <div class="wards_container">
    <div class="wards_header--container">
      <div class="wards_header">WARDS</div>
      <LinkTo @route="add-ward" class="wards_link--button" role="button">
        <img class="wards_link--icon" src="/assets/images/plus.svg" alt="">
        Add Ward
      </LinkTo>
      <p>Tap a row to view the ward</p>
    </div>

    {{#if this.model.wards.length}}

      <div class="table">
        <div class="header header--wards">

          <div class="header--column">
            Ward
          </div>
          <div class="header--column">
            <img class="icon" src="/assets/images/available-white.svg" alt="">
            Availability
          </div>
        </div>
      </div>

      {{#each this.model.wards as |ward|}}
        <LinkTo class="wards_card" @route="ward" @model={{ward.id}} role="button">
          <div class="column wards_card--name-container">
            <div class="wards_card--ward-name {{if ward.isCovidWard "with-covid-badge"}}">{{ward.name}}</div>
            {{#if ward.isCovidWard}}
              <div class="wards_card--covid-badge">
                COVID ward
              </div>
            {{/if}}
          </div>

          <div class="column">
            {{#if (eq ward.availableBeds 0)}}
              <img src="/assets/images/available-no-red.svg" alt="">
            {{else}}
              <img src="/assets/images/available-yes-green.svg" alt="">
            {{/if}}
            <div class="wards_card--beds-number">
              {{ward.availableBeds}} /
              <span>{{ward.beds.length}}</span>
            </div>
          </div>

        </LinkTo>
      {{/each}}
    {{else}}
      <div class="wards_body-text">
        To get started add a ward and register the number of COVID beds.<br><br>If a bed is occupied, set the COVID status of the patient and whether any ventilators are being used.
      </div>
    {{/if}}
  </div>
  {{!-- {{/if}} --}}
</div>

{{!-- <img class="qr-code" src={{this.qrCode}} alt=""> --}}