<div class="page {{if this.model.hospital.useQrCode "page--QR"}}">
  {{#if (eq this.model.hospital.useQrCode null)}}
    <div class="qr-choice_warning">Please select how your hospital will be tracking beds. <br> <br>Please note that this choice cannot be changed after you have made your selection.</div>

    <div class="qr-choice_form">
      <div class="qr-choice_header">Bed tracking method:</div>

      <div class="edit-beds_radio">
        <input
          id="available"
          type="radio"
          checked={{this.useQrCode}}
          onclick={{action (mut this.useQrCode) true}}>
        <label for="available" class="edit-beds_radio--label">
          <div class="edit-beds_radio--text">Mobile device QR scanning only</div>
        </label>
      </div>

      <div class="edit-beds_radio">
        <input
          id="unavailable"
          type="radio"
          checked={{and (not this.useQrCode) (not (eq this.useQrCode null))}}
          onclick={{action (mut this.useQrCode) false}}>
        <label for="unavailable" class="edit-beds_radio--label">
          <div class="edit-beds_radio--text">Manual entry only</div>
        </label>
      </div>

      {{#if (not (eq this.useQrCode null))}}
        <div class="qr-choice_final-warning">*This cannot be changed later</div>
      {{/if}}

      <button
        type="submit"
        class="qr-choice_btn form_btn"
        disabled={{eq this.useQrCode null}}
        {{on "click" this.setQrCodeSystem}}>
        Choose bed tracking method
      </button>
    </div>

  {{else}}

    {{#if this.model.hospital.useQrCode}}

      {{#if (eq this.totalQrBeds 0)}}
        <div class="instructions">
          <p><strong>Welcome to Bed Checked</strong></p>
          <p>Add the number of beds you would like to register to get started. You can also add more beds in the future.</p>
          <p>Once these beds are registered each bed will have a reference number and unique QR code that needs to be printed an attached to the bed.</p>
          <p>To make a bed available for patient occupancy it needs to be activated by entering it’s reference number.</p>

          <h1>Register Beds</h1>

          <div class="instructions_form">
            <label for="beds-to-register"
                   class="form_label">
              Number of beds to register
            </label>
            <Input @id="beds-to-register"
                   @type="number"
                   @name="beds-to-register"
                   @required={{true}}
                   @class="form_input"
                   @value={{this.noOfBedsToRegister}} />
            <div class="form_error--container">
              {{#if this.errors.hasError}}
                <div class="form_error">Error. Please try again.</div>
              {{/if}}
            </div>

            <button disabled={{not this.noOfBedsToRegister}} {{on "click" this.registerBeds}}>Register</button>
          </div>
        </div>
      {{else}}

        <div class="cards-container">
          <div class="page_header">Registered Beds</div>

          <div class="card {{if this.showRegisterBedsForm "with-form"}}">
            <div class="card_header">{{this.totalQrBeds}}</div>
            <div class="card_subheader">Total Beds</div>
            <img class="card_icon" src="/assets/images/occupied.svg" alt="">
            <button class="card_btn register {{if this.showRegisterBedsForm "open"}}" onclick={{action toggleProperty "showRegisterBedsForm"}}>
              {{#if this.showRegisterBedsForm}}
                <img class="" src="/assets/images/cross.png" alt="">
              {{else}}
                + Register more
              {{/if}}
            </button>
            {{#if this.showRegisterBedsForm}}
              <form
                class="edit-beds_form total-beds"
                {{on "submit" this.registerBeds}}>
                <div class="edit-beds_subheader">Register more beds</div>

                <label
                  for="registerBedsNumber"
                  class="form_label">
                  Number of beds to register
                </label>
                <Input
                  @type="number"
                  @name="registerBedsNumber"
                  @required={{true}}
                  @class="form_input edit-beds_input"
                  @value={{this.noOfBedsToRegister}}
                  @key-up={{action (mut this.noOfBedsToRegister) value=@target.value}} />
                <div class="edit-beds_help-text">Enter the number of extra beds to register</div>

                <button
                  type="submit"
                  class="form_btn"
                  disabled={{not this.noOfBedsToRegister}}>
                  Register beds
                </button>
              </form>
            {{/if}}
          </div>

          <div class="card">
            <div class="card_header">{{this.availableBedsPercentage}}%</div>
            <div class="card_subheader">Bed Availability</div>
            <img class="card_icon" src="/assets/images/available.svg" alt="">
          </div>
        </div>
      {{/if}}

        <div class="div-table">
          <div class="div-table_body">
            {{#each this.model.hospital.beds as |bed|}}
              <div class="div-table_row">
                <div class="div-table_cell">{{bed.reference}}</div>
                <div class="div-table_cell">{{bed.available}}</div>
                <div class="div-table_cell">Activate/Deactivate</div>
                <div class="div-table_cell"><button {{on "click" (fn this.printQrCode bed.id)}}>Print Qr code</button></div>
              </div>
            {{/each}}
          </div>
        </div>

    {{else}}

      <div class="cards-container">
        <div class="page_header">Beds</div>

        <div class="card {{if this.showEditTotalBedsForm "with-form"}}">
          <div class="card_header">{{this.totalBeds}}</div>
          <div class="card_subheader">Total Beds</div>
          <img class="card_icon" src="/assets/images/occupied.svg" alt="">
          <button class="card_btn" onclick={{action toggleProperty "showEditTotalBedsForm"}}>
            {{#if this.showEditTotalBedsForm}}
              <img class="" src="/assets/images/cross.png" alt="">
            {{else}}
              Edit
            {{/if}}
          </button>
          {{#if this.showEditTotalBedsForm}}
            <form
              class="edit-beds_form total-beds"
              {{on "submit" this.editTotalBeds}}>
              <div class="edit-beds_subheader">Edit total number of beds</div>

              <label
                for="editTotalBedsNumber"
                class="form_label">
                Total beds
              </label>
              <Input
                @type="number"
                @name="editTotalBedsNumber"
                @required={{true}}
                @class="form_input edit-beds_input"
                @value={{this.newNoOfTotalBeds}}
                @key-up={{action (mut this.newNoOfTotalBeds) value=@target.value}} />

              {{#if this.totalErrorMessage}}
                <div class="edit-beds_help-text error">{{this.totalErrorMessage}}</div>
              {{else}}
                <div class="edit-beds_help-text">The total number of beds at the hospital</div>
              {{/if}}

              <button
                type="submit"
                class="form_btn"
                disabled={{not this.newNoOfTotalBeds}}>
                Enter
              </button>
            </form>
          {{/if}}
        </div>

        <div class="card">
          <div class="card_header">{{this.availableBeds}}</div>
          <div class="card_subheader">Available Beds</div>
          <img class="card_icon" src="/assets/images/available.svg" alt="">
        </div>
      </div>

      <form
        class="edit-beds_form"
        {{on "submit" this.editBedsAvailability}}>
        <div class="edit-beds_subheader">Edit bed availability</div>

        <label
          for="editBedsNumber"
          class="form_label">
          Number of beds
        </label>
        <Input
          @type="number"
          @name="editBedsNumber"
          @required={{true}}
          @class="form_input edit-beds_input"
          @value={{this.noOfBedsToEditAvailabiity}}
          @key-up={{action (mut this.noOfBedsToEditAvailabiity) value=@target.value}} />

        {{#if this.errorMessage}}
          <div class="edit-beds_help-text error">{{this.errorMessage}}</div>
        {{else}}
          <div class="edit-beds_help-text">The number of beds that have changed status</div>
        {{/if}}

        <div class="edit-beds_help-text bold">These beds are now:</div>

        <div class="edit-beds_radio">
          <input
            id="available"
            type="radio"
            checked={{this.makeBedsAvailable}}
            onclick={{action (mut this.makeBedsAvailable) true}}>
          <label for="available" class="edit-beds_radio--label">
            <div class="edit-beds_radio--text">Available beds</div>
          </label>
        </div>

        <div class="edit-beds_radio">
          <input
            id="unavailable"
            type="radio"
            checked={{not this.makeBedsAvailable}}
            onclick={{action (mut this.makeBedsAvailable) false}}>
          <label for="unavailable" class="edit-beds_radio--label">
            <div class="edit-beds_radio--text">Occupied beds</div>
          </label>
        </div>

        <button
          type="submit"
          class="form_btn"
          disabled={{not this.noOfBedsToEditAvailabiity}}>
          Enter
        </button>
      </form>
    {{/if}}

  {{/if}}
</div>

<img class="qr-code" src={{this.qrCode}} alt="">