<div class="page">

  {{#if this.model.showSuccessMessage}}
    <div class="banner banner--success">
      <div class="banner_title"><img src="/assets/images/success.svg" alt="">Ward successfully added</div>
      <p>Click on the ward to add the number of COVID beds</p>
      <img src="/assets/images/close.svg" alt="close" class="banner_close" {{on "click" (fn (mut this.model.showSuccessMessage) null)}}>
    </div>
  {{/if}}

  {{#if this.model.useManagement}}

    <div class="cards-container">
      <div class="page_header">
        <img class="page_icon" src="/assets/images/hospital.svg" alt="">
        Hospital Dashboard
      </div>

      <div class="card">
        <div class="card_header">
          <img class="card_icon" src="/assets/images/occupied.svg" alt="">
          <div class="card_header-text">TOTAL COVID BEDS  {{this.model.totalBeds}}</div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">{{this.model.availableBeds}}</div>
          <div class="card_data-block--label">Total available COVID beds</div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">{{this.availableBedsPercentage}}%</div>
          <div class="card_data-block--label">Total available bed capacity</div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">{{this.model.totalVentilatorInUse}}</div>
          <div class="card_data-block--label">Total ventilators in use</div>
        </div>
      </div>

      <div class="card">
        <div class="card_header">
          <img class="card_icon" src="/assets/images/covid-19-positive.svg" alt="">
          <div class="card_header-text">TOTAL COVID PATIENT STATS</div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">{{this.model.totalCovidStatusPositive}}</div>
          <div class="card_data-block--label">Total COVID positive</div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">{{this.model.totalCovidStatusNegative}}</div>
          <div class="card_data-block--label">Total COVID negative</div>
        </div>

        <div class="card_data-block">
          <div class="card_data-block--value">{{this.model.totalCovidStatusSuspected}}</div>
          <div class="card_data-block--label">Total COVID suspected</div>
        </div>
      </div>
    </div>

    <div class="wards_container">
      <div class="wards_header--container">
        <div class="wards_header">WARDS</div>
        <LinkTo @route="add-ward" class="wards_link--button" role="button">
          <img class="wards_link--icon" src="/assets/images/plus.svg" alt="">
          Add Ward
        </LinkTo>
      </div>

      {{#if this.model.wards.length}}

        <div class="table">
          <div class="header header--wards">

            <div class="header--column">
              Ward
            </div>
            <div class="header--column">
              <img class="icon" src="/assets/images/available-white.svg" alt="">
              Availability
            </div>
            <div class="header--column view">
              View
            </div>
          </div>
        </div>
        
        {{#each this.model.wards as |ward|}}
          <LinkTo class="wards_card" @route="ward" @model={{ward.id}} role="button">
            <div class="column interactive">
              <div class="wards_card--ward-name">{{ward.shortName}}</div>
            </div>

            <div class="column">
              {{#if (eq ward.availableBeds 0)}}
                <img src="/assets/images/available-no-red.svg" alt="">
              {{else}}
                <img src="/assets/images/available-yes-green.svg" alt="">
              {{/if}}
              <div class="wards_card--beds-number">
                {{ward.availableBeds}} /
                <div>{{ward.beds.length}}</div>
              </div>
            </div>

            <div class="column arrow">
              {{!-- <LinkTo class="wards_link--container" @route="ward" @model={{ward.id}} role="button"> --}}
                <img class="wards_link--arrow" src="/assets/images/view.svg" alt="">
              {{!-- </LinkTo> --}}
            </div>

          </LinkTo>
        {{/each}}
      {{else}}
        <div class="wards_body-text">
          To get started add a ward and register the number of COVID beds.<br><br>If a bed is occupied, set the COVID status of the patient and whether any ventilators are being used.
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>

{{!-- <img class="qr-code" src={{this.qrCode}} alt=""> --}}