{{#let this.model.hospital as |hospital|}}
  <div>{{hospital.name}}</div>
  <div>Total beds: {{hospital.totalBeds}}</div>
  <div>Unavailable beds: {{hospital.unavailableBeds}}</div>
  <div>Available beds: {{hospital.availableBeds}}</div>

  {{#if hospital.useQrCode}}
    {{!-- Sorin your QR stuff will go here --}}
  {{else}}
    
  {{/if}}
{{/let}}