<div class="page">
  <div class="reports">
    <div class="breadcrumbs">
      <LinkTo @route="dashboard" @tagName="span">
        <img src="/assets/images/hospital.svg" alt="">
        <div class="text">{{t "breadcrumbs.dashboard"}}</div>
      </LinkTo>{{t "breadcrumbs.dos-report"}}
    </div>

    {{#let this.model.getReport.report as |report|}}
      <h1>{{t "reports.dos-report.title"}}</h1>
      <p class="since-time-date">{{t "reports.since"}} {{moment-format (now) "DD/MM/YYYY HH:mm"}}</p>

      <div class="dos-table">
        <ReportRow @key={{t "reports.dos-report.totalBedsOfNonSurgeWards"}} @value={{report.totalBedsOfNonSurgeWards}} />
        <ReportRow @key={{t "reports.dos-report.totalBedsOfSurgeWards"}} @value={{report.totalBedsOfSurgeWards}} />
        <ReportRow @key={{t "reports.dos-report.totalCritcareNursesOfWards"}} @value={{report.totalCritcareNursesOfWards}} />
        <ReportRow @key={{t "reports.dos-report.totalOtherRnsOfWards"}} @value={{report.totalOtherRnsOfWards}} />
        <ReportRow @key={{t "reports.dos-report.totalNurseSupportStaffOfWards"}} @value={{report.totalNurseSupportStaffOfWards}} />
        <ReportRow @key={{t "reports.dos-report.allWardsCanProvideIcsRatios"}} @value={{if report.allWardsCanProvideIcsRatios "Yes" "No"}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBeds"}} @value={{report.totalNonAvailableBeds}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositive"}} @value={{report.totalNonAvailableBedsWhereCovidStatusPositive}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusSuspected"}} @value={{report.totalNonAvailableBedsWhereCovidStatusSuspected}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeInvasive"}} @value={{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeInvasive}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeNonInvasive"}} @value={{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeNonInvasive}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeHfno"}} @value={{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeHfno}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypeHaemofiltration"}} @value={{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypeHaemofiltration}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypeHaemodialysis"}} @value={{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypeHaemodialysis}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypePd"}} @value={{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypePd}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeInvasive"}} @value={{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeInvasive}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeNonInvasive"}} @value={{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeNonInvasive}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeHfno"}} @value={{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeHfno}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypeHaemofiltration"}} @value={{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypeHaemofiltration}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypeHaemodialysis"}} @value={{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypeHaemodialysis}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypePd"}} @value={{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypePd}} />
        <ReportRow @key={{t "reports.dos-report.totalNonAvailableBedsWhereDateAdmittedYesterday"}} @value={{report.totalNonAvailableBedsWhereDateAdmittedYesterday}} />
        <ReportRow @key={{t "reports.dos-report.totalDischargesWhereReasonNotDeathAndInsertedAtYesterday"}} @value={{report.totalDischargesWhereReasonNotDeathAndInsertedAtYesterday}} />
        <ReportRow @key={{t "reports.dos-report.totalDischargesWhereReasonDeathAndInsertedAtYesterday"}} @value={{report.totalDischargesWhereReasonDeathAndInsertedAtYesterday}} />
      </div>

      <h1 class="middle-header">{{t "reports.ward-report.title"}}</h1>
      <p class="since-time-date">{{t "reports.since"}} {{moment-format (now) "DD/MM/YYYY HH:mm"}}</p>

      {{#if (user-agent "device.isMobile")}}
        <ReportCard @title={{t "reports.ward-report.receiving-level-three-care"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndLevelOfCareLevelThree}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndLevelOfCareLevelThree}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndLevelOfCareLevelThree}} />
        <ReportCard @title={{t "reports.ward-report.receiving-level-two-care"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndLevelOfCareLevelTwo}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndLevelOfCareLevelTwo}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndLevelOfCareLevelTwo}} />
        <ReportCard @title={{t "reports.ward-report.receiving-rrt"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndRrtTypeNotNoneOrNotRiskOfNextTwentyFourH}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndRrtTypeNotNoneOrNotRiskOfNextTwentyFourH}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndRrtTypeNotNoneOrNotRiskOfNextTwentyFourH}} />
        <ReportCard @title={{t "reports.ward-report.at-risk-of-rrt"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndRrtTypeRiskOfNextTwentyFourH}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndRrtTypeRiskOfNextTwentyFourH}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndRrtTypeRiskOfNextTwentyFourH}} />
      {{else}}
        <div class="reports_admissions-table">
          <div class="headers">
            <div class="column-labels"></div>
            <div class="column-data">{{t "reports.table-headers.covid" htmlSafe=true}}</div>
            <div class="column-data">{{t "reports.table-headers.amber"}}</div>
            <div class="column-data">{{t "reports.table-headers.green"}}</div>
          </div>
          <ReportRowTriple @label={{t "reports.ward-report.receiving-level-three-care"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndLevelOfCareLevelThree}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndLevelOfCareLevelThree}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndLevelOfCareLevelThree}} />
          <ReportRowTriple @label={{t "reports.ward-report.receiving-level-two-care"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndLevelOfCareLevelTwo}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndLevelOfCareLevelTwo}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndLevelOfCareLevelTwo}} />
          <ReportRowTriple @label={{t "reports.ward-report.receiving-rrt"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndRrtTypeNotNoneOrNotRiskOfNextTwentyFourH}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndRrtTypeNotNoneOrNotRiskOfNextTwentyFourH}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndRrtTypeNotNoneOrNotRiskOfNextTwentyFourH}} />
          <ReportRowTriple @label={{t "reports.ward-report.at-risk-of-rrt"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndRrtTypeRiskOfNextTwentyFourH}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndRrtTypeRiskOfNextTwentyFourH}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndRrtTypeRiskOfNextTwentyFourH}} />
        </div>
      {{/if}}

      <h1 class="middle-header">{{t "reports.admissions-report.title"}}</h1>
      <p class="since-time-date">{{t "reports.since"}} {{moment-format (now) "DD/MM/YYYY HH:mm"}}</p>
      {{#if (user-agent "device.isMobile")}}
        <ReportCard @title={{t "reports.admissions-report.admissions-from-ed"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionEd}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionEd}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionEd}} />
        <ReportCard @title={{t "reports.admissions-report.admissions-from-internal-ward"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionInternalWard}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionInternalWard}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionInternalWard}} />
        <ReportCard @title={{t "reports.admissions-report.admissions-from-internal-itu"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionInternalItu}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionInternalItu}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionInternalItu}} />
        <ReportCard @title={{t "reports.admissions-report.admissions-from-external-ward"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionExternalWard}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionExternalWard}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionExternalWard}} />
        <ReportCard @title={{t "reports.admissions-report.admissions-from-external-itu"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionExternalItu}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionExternalItu}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionExternalItu}} />
        <ReportCard @title={{t "reports.admissions-report.readmissions-to-itu"}} 
                    @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionItuReadmission}} 
                    @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionItuReadmission}}
                    @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionItuReadmission}} />
      {{else}}
        <div class="reports_admissions-table">
          <div class="headers">
            <div class="column-labels"></div>
            <div class="column-data">{{t "reports.table-headers.covid" htmlSafe=true}}</div>
            <div class="column-data">{{t "reports.table-headers.amber"}}</div>
            <div class="column-data">{{t "reports.table-headers.green"}}</div>
          </div>
          <ReportRowTriple @label={{t "reports.admissions-report.admissions-from-ed"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionEd}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionEd}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionEd}} />
          <ReportRowTriple @label={{t "reports.admissions-report.admissions-from-internal-ward"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionInternalWard}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionInternalWard}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionInternalWard}} />
          <ReportRowTriple @label={{t "reports.admissions-report.admissions-from-internal-itu"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionInternalItu}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionInternalItu}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionInternalItu}} />
          <ReportRowTriple @label={{t "reports.admissions-report.admissions-from-external-ward"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionExternalWard}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionExternalWard}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionExternalWard}} />
          <ReportRowTriple @label={{t "reports.admissions-report.admissions-from-external-itu"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionExternalItu}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionExternalItu}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionExternalItu}} />
          <ReportRowTriple @label={{t "reports.admissions-report.readmissions-to-itu"}} 
                           @valueOne={{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionItuReadmission}} 
                           @valueTwo={{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionItuReadmission}}
                           @valueThree={{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionItuReadmission}} />
        </div>
      {{/if}}

      <h1 class="middle-header">{{t "reports.discharge-report.title"}}</h1>
      <p class="since-time-date">{{t "reports.since"}} {{moment-format (now) "DD/MM/YYYY HH:mm"}}</p>

      {{#if (user-agent "device.isMobile")}}
        <ReportCard @title={{t "reports.discharge-report.discharged-alive"}} 
                              @valueOne={{report.totalDischargesWhereReasonNotDeathAndWardTypeCovidAndInsertedAtYesterday}} 
                              @valueTwo={{report.totalDischargesWhereReasonNotDeathAndWardTypeAmberAndInsertedAtYesterday}}
                              @valueThree={{report.totalDischargesWhereReasonNotDeathAndWardTypeGreenAndInsertedAtYesterday}} />
        <ReportCard @title={{t "reports.discharge-report.discharged-to-ext-icu"}} 
                              @valueOne={{report.totalDischargesWhereReasonExternalIcuAndWardTypeCovidAndInsertedAtYesterday}} 
                              @valueTwo={{report.totalDischargesWhereReasonExternalIcuAndWardTypeAmberAndInsertedAtYesterday}}
                              @valueThree={{report.totalDischargesWhereReasonExternalIcuAndWardTypeGreenAndInsertedAtYesterday}} />
        <ReportCard @title={{t "reports.discharge-report.discharged-deceased"}} 
                              @valueOne={{report.totalDischargesWhereReasonDeathAndWardTypeCovidAndInsertedAtYesterday}} 
                              @valueTwo={{report.totalDischargesWhereReasonDeathAndWardTypeAmberAndInsertedAtYesterday}}
                              @valueThree={{report.totalDischargesWhereReasonDeathAndWardTypeGreenAndInsertedAtYesterday}} />
      {{else}}
        <div class="reports_admissions-table">
          <div class="headers">
            <div class="column-labels"></div>
            <div class="column-data">{{t "reports.table-headers.covid" htmlSafe=true}}</div>
            <div class="column-data">{{t "reports.table-headers.amber"}}</div>
            <div class="column-data">{{t "reports.table-headers.green"}}</div>
          </div>
          <ReportRowTriple @label={{t "reports.discharge-report.discharged-alive"}} 
                               @valueOne={{report.totalDischargesWhereReasonNotDeathAndWardTypeCovidAndInsertedAtYesterday}} 
                               @valueTwo={{report.totalDischargesWhereReasonNotDeathAndWardTypeAmberAndInsertedAtYesterday}}
                               @valueThree={{report.totalDischargesWhereReasonNotDeathAndWardTypeGreenAndInsertedAtYesterday}} />
          <ReportRowTriple @label={{t "reports.discharge-report.discharged-to-ext-icu"}} 
                               @valueOne={{report.totalDischargesWhereReasonExternalIcuAndWardTypeCovidAndInsertedAtYesterday}} 
                               @valueTwo={{report.totalDischargesWhereReasonExternalIcuAndWardTypeAmberAndInsertedAtYesterday}}
                               @valueThree={{report.totalDischargesWhereReasonExternalIcuAndWardTypeGreenAndInsertedAtYesterday}} />
          <ReportRowTriple @label={{t "reports.discharge-report.discharged-deceased"}} 
                               @valueOne={{report.totalDischargesWhereReasonDeathAndWardTypeCovidAndInsertedAtYesterday}} 
                               @valueTwo={{report.totalDischargesWhereReasonDeathAndWardTypeAmberAndInsertedAtYesterday}}
                               @valueThree={{report.totalDischargesWhereReasonDeathAndWardTypeGreenAndInsertedAtYesterday}} />
        </div>
      {{/if}}

    {{/let}}
  </div>

</div>

