<div class="page">
  <div class="reports">
    <div class="breadcrumbs">
      <LinkTo @route="dashboard" @tagName="span">
        <img src="/assets/images/hospital.svg" alt="">
        <div class="text">{{t "breadcrumbs.dashboard"}}</div>
      </LinkTo>{{t "breadcrumbs.dos-report"}}
    </div>

    <h1>{{t "reports.dos-report.title"}}</h1>
    {{#let this.model.getReport.report as |report|}}


      {{!-- {{log report}} --}}

      <DosReportRow @key={{t "reports.dos-report.totalBedsOfNonSurgeWards"}} @value={{report.totalBedsOfNonSurgeWards}} />
      {{!-- <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalBedsOfNonSurgeWards"}}</div> 
        <div class="value">{{report.totalBedsOfNonSurgeWards}}</div> 
      </div> --}}

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalBedsOfSurgeWards"}}</div> 
        <div class="value">{{report.totalBedsOfSurgeWards}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalCritcareNursesOfWards"}}</div> 
        <div class="value">{{report.totalCritcareNursesOfWards}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalOtherRnsOfWards"}}</div> 
        <div class="value">{{report.totalOtherRnsOfWards}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNurseSupportStaffOfWards"}}</div> 
        <div class="value">{{report.totalNurseSupportStaffOfWards}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.allWardsCanProvideIcsRatios"}}</div> 
        <div class="value">{{if report.allWardsCanProvideIcsRatios "Yes" "No"}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBeds"}}</div> 
        <div class="value">{{report.totalNonAvailableBeds}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositive"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusPositive}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusSuspected"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusSuspected}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeInvasive"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeInvasive}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeNonInvasive"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeNonInvasive}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeHfno"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndVentilationTypeHfno}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypeHaemofiltration"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypeHaemofiltration}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypeHaemodialysis"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypeHaemodialysis}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypePd"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusGreenOrNegativeAndRrtTypePd}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeInvasive"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeInvasive}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeNonInvasive"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeNonInvasive}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeHfno"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndVentilationTypeHfno}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypeHaemofiltration"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypeHaemofiltration}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypeHaemodialysis"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypeHaemodialysis}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypePd"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereCovidStatusPositiveOrSuspectedAndRrtTypePd}}</div> 
      </div>

      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalNonAvailableBedsWhereDateAdmittedYesterday"}}</div> 
        <div class="value">{{report.totalNonAvailableBedsWhereDateAdmittedYesterday}}</div> 
      </div>
      
      <div class="reports_report-row">
        <div class="key">{{t "reports.dos-report.totalDischargesWhereReasonNotDeathAndInsertedAtYesterday"}}</div> 
        <div class="value">{{report.totalDischargesWhereReasonNotDeathAndInsertedAtYesterday}}</div> 
      </div>

      <div class="reports_report-row last-row">
        <div class="key">{{t "reports.dos-report.totalDischargesWhereReasonDeathAndInsertedAtYesterday"}}</div> 
        <div class="value">{{report.totalDischargesWhereReasonDeathAndInsertedAtYesterday}}</div> 
      </div>

      <h1 class="admissions">{{t "reports.admissions-report.title"}}</h1>

      {{#if (user-agent "device.isMobile")}}
        <div class="reports_admissions-card">
          <div class="title">{{t "reports.admissions-report.admissions-from-ed"}}</div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.covid" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionEd}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.amber" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionEd}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.green" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionEd}}</p></div>
          </div>
        </div>

        <div class="reports_admissions-card">
          <div class="title">{{t "reports.admissions-report.admissions-from-internal-ward"}}</div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.covid" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionInternalWard}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.amber" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionInternalWard}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.green" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionInternalWard}}</p></div>
          </div>
        </div>

        <div class="reports_admissions-card">
          <div class="title">{{t "reports.admissions-report.admissions-from-internal-itu"}}</div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.covid" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionInternalItu}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.amber" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionInternalItu}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.green" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionInternalItu}}</p></div>
          </div>
        </div>

        <div class="reports_admissions-card">
          <div class="title">{{t "reports.admissions-report.admissions-from-external-ward"}}</div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.covid" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionExternalWard}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.amber" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionExternalWard}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.green" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionExternalWard}}</p></div>
          </div>
        </div>

        <div class="reports_admissions-card">
          <div class="title">{{t "reports.admissions-report.admissions-from-external-itu"}}</div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.covid" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionExternalItu}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.amber" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionExternalItu}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.green" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionExternalItu}}</p></div>
          </div>
        </div>

        <div class="reports_admissions-card">
          <div class="title">{{t "reports.admissions-report.readmissions-to-itu"}}</div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.covid" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionItuReadmission}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.amber" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionItuReadmission}}</p></div>
          </div>
          <div class="data-container">
            <div class="label"><p>{{t "reports.admissions-report.table-headers.green" htmlSafe=true}}</p></div>
            <div class="value"><p>{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionItuReadmission}}</p></div>
          </div>
        </div>

      {{else}}

        <div class="reports_admissions-table">
          <div class="headers">
            <div class="column-labels"></div>
            <div class="column-data">{{t "reports.admissions-report.table-headers.covid" htmlSafe=true}}</div>
            <div class="column-data">{{t "reports.admissions-report.table-headers.amber"}}</div>
            <div class="column-data">{{t "reports.admissions-report.table-headers.green"}}</div>
          </div>

          <div class="row">
            <div class="column-labels">{{t "reports.admissions-report.admissions-from-ed"}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionEd}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionEd}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionEd}}</div>
          </div>

          <div class="row">
            <div class="column-labels">{{t "reports.admissions-report.admissions-from-internal-ward"}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionInternalWard}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionInternalWard}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionInternalWard}}</div>
          </div>

          <div class="row">
            <div class="column-labels">{{t "reports.admissions-report.admissions-from-internal-itu"}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionInternalItu}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionInternalItu}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionInternalItu}}</div>
          </div>

          <div class="row">
            <div class="column-labels">{{t "reports.admissions-report.admissions-from-external-ward"}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionExternalWard}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionExternalWard}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionExternalWard}}</div>
          </div>

          <div class="row">
            <div class="column-labels">{{t "reports.admissions-report.admissions-from-external-itu"}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionExternalItu}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionExternalItu}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionExternalItu}}</div>
          </div>

          <div class="row last-row">
            <div class="column-labels">{{t "reports.admissions-report.readmissions-to-itu"}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeCovidAndSourceOfAdmissionItuReadmission}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeAmberAndSourceOfAdmissionItuReadmission}}</div>
            <div class="column-data">{{report.totalNonAvailableBedsWhereWardTypeGreenAndSourceOfAdmissionItuReadmission}}</div>
          </div>
        </div>
      {{/if}}
    {{/let}}
  </div>

</div>