<div class="page policy_container">
  
  <div class="policy_header">{{t "terms.header"}}</div>
  <div class="date-of-creation">{{t "terms.subheader"}}</div>

  <div class="policy_content-block">
    <div class="policy_subheader bold"><strong>{{t "terms.intro.header"}}</strong></div>
    <div>{{t "terms.intro.1.1"}}</div>
    <div>{{t "terms.intro.1.2"}}</div>
    <div>{{t "terms.intro.1.3"}}</div>
  </div>

  <div class="policy_content-seperator"></div>

  <div class="policy_content-block">
    <div class="policy_subheader"><strong>{{t "terms.use.header"}}</strong></div>
    <div>{{t "terms.use.2.1"}}</div>
    <div>{{t "terms.use.2.2"}}</div>
    <div>{{t "terms.use.2.3"}}</div>
    <div>{{t "terms.use.2.4"}}</div>
    <div>{{t "terms.use.2.5"}}</div>
    <div>{{t "terms.use.2.6"}}</div>
    <div>{{t "terms.use.2.7"}}</div>
    <div><strong>{{t "terms.use.2.8"}}</strong></div>
  </div>

  <div class="policy_content-seperator"></div>

  <div class="policy_content-block">
    <div class="policy_subheader"><strong>{{t "terms.ip-rights.header"}}</strong></div>
    <div>{{t "terms.ip-rights.3.1"}}</div>
    <div>{{t "terms.ip-rights.3.2"}}</div>
  </div>

  <div class="policy_content-seperator"></div>

  <div class="policy_content-block">
    <div class="policy_subheader"><strong>{{t "terms.termination.header"}}</strong></div>
    <div>{{t "terms.termination.4.1"}}</div>
    <div>{{t "terms.termination.4.2"}}</div>
  </div>

  <div class="policy_content-seperator"></div>

  <div class="policy_content-block">
    <div class="policy_subheader"><strong>{{t "terms.warranties.header"}}</strong></div>
    <div>{{t "terms.warranties.5.1"}}</div>
    <div>{{t "terms.warranties.5.2"}}</div>
    <div>{{t "terms.warranties.5.3"}}</div>
  </div>

  <div class="policy_content-seperator"></div>

  <div class="policy_content-block">
    <div class="policy_subheader"><strong>{{t "terms.law.header"}}</strong></div>
    <div>{{t "terms.law.6"}}</div>
  </div>

</div>